src/main/resources/META-INF/catalog/www.upnp.org/lp/powersupplystatus-v1-20070217.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="urn:schemas-upnp-org:lp:PowerSupplyStatus"
targetNamespace="urn:schemas-upnp-org:lp:PowerSupplyStatus"
elementFormDefault="qualified">
<xsd:element name="PowerSupplyStatus">
<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="ExternalPowerSupply" type="ExternalPowerSupplyType"/>
		<xsd:element name="InternalPowerSupply" type="InternalPowerSupplyType" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:complexType name="ExternalPowerSupplyType">
	<xsd:sequence>
		<xsd:element name="ExternalPowerSourceInfo" type="xsd:string"/>
		<xsd:element name="IsConnected" type="xsd:boolean"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="InternalPowerSupplyType">
	<xsd:sequence>
		<xsd:element name="PowerRemaining">
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"/>
					<xsd:maxInclusive value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="TimeRemaining" type="xsd:duration"/>
	</xsd:sequence>
</xsd:complexType>

</xsd:schema>