src/main/resources/META-INF/catalog/www.upnp.org/lp/wakeupmethod-v1-20070217.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="urn:schemas-upnp-org:lp:WakeupMethod"
targetNamespace="urn:schemas-upnp-org:lp:WakeupMethod" elementFormDefault="qualified">
<xsd:element name="WakeupMethod">
	<xsd:complexType>
		<xsd:sequence>
<xsd:element ref="BearerWakeupMethod" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="NonBearerWakeupMethod" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="BearerWakeupMethod">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="IanaTechnologyType" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="WakeupPattern" type="xsd:string"/>
			<xsd:element name="AdditionalBearerInfo" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Address" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Bearer_Info" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="NonBearerWakeupMethod">
        <xsd:complexType>
            <xsd:sequence>
		<xsd:element name="BearerType" type="NonBearer"/>
		<xsd:element name="VendorNonBearerInfo" type="xsd:string"/>
	</xsd:sequence>
        </xsd:complexType>
</xsd:element>

<!-- Define the types of Non-bearers -->
<xsd:simpleType name="NonBearer">
<xsd:restriction base="xsd:string">
	<xsd:enumeration value="Infrared"/>
	<xsd:enumeration value="NFC"/>
<!-- The types of bearers are not complete and more enumeration values may follow-->
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
