src/main/resources/META-INF/catalog/www.upnp.org/schemas/av/dmo-v1-20101231.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:dmo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:dmo" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering.
		
		DeviceMode schema for UPnP A/V ContentDirectory services, version 4.0.
		</xsd:documentation>
	</xsd:annotation>
	<!--============================================================
	Device is only valid for "ExclusiveOwnership" mode
	============================================================-->
	<xsd:simpleType name="ST_mode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
			<xsd:enumeration value="Device"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	Can be in zero, one or both "ActionBurst" mode and "ExclusiveOwnership" mode
	============================================================-->
	<xsd:simpleType name="ST_modeName">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ActionBurst"/>
			<xsd:enumeration value="ExclusiveOwnership"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	CPRequested indicate whether internal or control point initiated mode
	============================================================-->
	<xsd:complexType name="T_mode">
		<xsd:simpleContent>
			<xsd:extension base="ST_mode">
				<xsd:attribute name="type" type="ST_modeName" use="required"/>
				<xsd:attribute name="CPRequested" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="T_DeviceMode">
		<xsd:sequence>
			<xsd:element ref="mode" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="mode" type="T_mode"/>
	<xsd:element name="DeviceMode" type="T_DeviceMode"/>
</xsd:schema>
