src/main/resources/META-INF/catalog/www.upnp.org/schemas/av/dmor-v1-20101231.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:dmor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:dmor" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering.
		
		DeviceModeRequest schema for UPnP A/V ContentDirectory services, version 4.0.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="ST_resourceID">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ID"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AT_4">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Device"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="T_resourceID">
		<xsd:simpleContent>
			<xsd:extension base="ST_resourceID">
				<xsd:attribute name="type" type="AT_4" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--============================================================
	Indicates how long "ExclusiveOwnership" is requested,
	============================================================-->
	<xsd:complexType name="T_exclusiveOwnershipRequest">
		<xsd:sequence>
			<xsd:element ref="resourceID"/>
			<xsd:element ref="totalTime"/>
			<xsd:element ref="label"/>
			<xsd:element ref="description"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--============================================================
	Can indicate collectively how many times actions is in "ActionBurst" and any 
	internal storage needed
	============================================================-->
	<xsd:complexType name="T_actionName">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="size" type="xsd:unsignedInt"/>
				<xsd:attribute name="count" type="xsd:unsignedInt"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--============================================================
	Indicates how long "ActionBurst" is requested,
	Can indicate optionally what actions are in an "ActionBurst"
	============================================================-->
	<xsd:complexType name="T_actionBurstRequest">
		<xsd:sequence>
			<xsd:element ref="totalTime"/>
			<xsd:element ref="responseTime"/>
			<xsd:element ref="label" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="description" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="actionName" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--============================================================
	Can only request "ActionBurst" or "ExclusiveOwnership" mode one at a time
	============================================================-->
	<xsd:complexType name="T_DeviceModeRequest">
		<xsd:choice>
			<xsd:element ref="actionBurstRequest"/>
			<xsd:element ref="exclusiveOwnershipRequest"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="totalTime" type="xsd:unsignedInt"/>
	<xsd:element name="responseTime" type="xsd:unsignedInt"/>
	<xsd:element name="resourceID" type="T_resourceID"/>
	<xsd:element name="label" type="xsd:string"/>
	<xsd:element name="exclusiveOwnershipRequest" type="T_exclusiveOwnershipRequest"/>
	<xsd:element name="description" type="xsd:string"/>
	<xsd:element name="actionName" type="T_actionName"/>
	<xsd:element name="actionBurstRequest" type="T_actionBurstRequest"/>
	<xsd:element name="DeviceModeRequest" type="T_DeviceModeRequest"/>
</xsd:schema>
