src/main/resources/META-INF/catalog/www.upnp.org/cs/avcs-v1-200800306.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:schemas-upnp-org:cs:avcs" xmlns:avcs="urn:schemas-upnp-org:cs:avcs" xmlns:cs="urn:schemas-upnp-org:cs" xmlns:av="urn:schemas-upnp-org:av:av" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20071008">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
			For UPnP Content Synchronization service
		</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd" />
  <xsd:import namespace="urn:schemas-upnp-org:cs" schemaLocation="http://www.upnp.org/schemas/cs/cs-v1.xsd" />
  <xsd:import namespace="urn:schemas-upnp-org:av:av" schemaLocation="http://www.upnp.org/schemas/av/av-v1.xsd" />

  <!--============================================================
     sync pair elements identify synchronization information.
     (Object properties used in ContentDirectory Service)
    ============================================================-->
  <xsd:element name="syncable" type="xsd:boolean"/>
  <xsd:element name="syncInfo" type="avcs:syncPair.type"/>
  <xsd:complexType name="syncPair.type">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="remoteObjID" type="xsd:string" />
        <xsd:element name="remoteParentObjID" type="xsd:string" />
        <xsd:element name="virtualRemoteParentObjID" type="xsd:string" />
      </xsd:choice>
      <xsd:element name="policy" type="cs:policy.type" />
      <xsd:element name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="MODIFIED" />
            <xsd:enumeration value="SYNC'ED" />
            <xsd:enumeration value="EXCLUDED" />
            <xsd:enumeration value="DELETED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="syncRelationshipID" type="cs:sync.id.type" use="required" />
    <xsd:attribute name="partnershipID" type="cs:sync.id.type" use="required" />
    <xsd:attribute name="pairgroupID" type="cs:sync.id.type" use="required" />
  </xsd:complexType>
  <!--============================================================
    The XML attributes for the <res> property of ContentDirectory
    Service.
    This attirbute follows "cs:" namespace on the <res> property
    
    Example:
    <res protocolinfo="http-get:*:video/mpeg:*" 
         cs:syncAllowed="ALL">
     http://192.168.0.1/video.mpg
    </res>
    ===========================================================-->
  <xsd:attribute name="syncAllowed">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ALL" />
        <xsd:enumeration value="METADATA_ONLY" />
        <xsd:enumeration value="PROHIBITED" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="resModified">
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:attribute>
</xsd:schema>