src/main/resources/META-INF/catalog/www.upnp.org/smgt/sdmdid-v1-20130701.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:smgt:sdmdid" targetNamespace="urn:schemas-upnp-org:smgt:sdmdid" xmlns:sdmdid="urn:schemas-upnp-org:smgt:sdmdid" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
        Sensor DataItem Description schema for UPnP Sensor ConfigurationManagement service, version 1.0.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="DataItemDescription">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="description" type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
        <xsd:element name="measurement" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="relateditem" type="relateditemtype_measurement" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="access" type="access_types" use="required"/>
            <xsd:attribute name="units" use="required" type="xsd:string"/>
            <xsd:attribute name="treatment" use="required" type="treatment_types"/>
            <xsd:attribute name="accumulation" use="required" type="accumulation_types"/>
            <xsd:attribute name="path" use="optional" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="limit" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="relateditem" type="relateditemtype_limit" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="access" type="access_types" use="required"/>
            <xsd:attribute name="units" use="required" type="xsd:string"/>
            <xsd:attribute name="limittype" use="required" type="limit_types"/>
            <xsd:attribute name="path" use="optional" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="setting" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="relateditem" type="relateditemtype_setting" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="access" type="access_types" use="required"/>
            <xsd:attribute name="units" use="required" type="xsd:string"/>
            <xsd:attribute name="path" use="optional" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="interval" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="relateditem" type="relateditemtype_interval" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="access" type="access_types" use="required"/>
            <xsd:attribute name="units" use="required" type="xsd:string"/>
            <xsd:attribute name="path" use="optional" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="alarm" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="relateditem" type="relateditemtype_alarm" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="access" type="access_types" use="required"/>
            <xsd:attribute name="path" use="optional" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:group ref="sdmdid:sdm.vx.group"/>
      </xsd:choice>
      <xsd:attribute name="itemname" type="xsd:string" use="required"/>
      <xsd:attribute name="access" type="access_types" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="sdm.vx.group">
    <xsd:choice>
      <xsd:any namespace="##other"/>
    </xsd:choice>
  </xsd:group>
  <!--  -->
  <xsd:simpleType name="access_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ro"/>
      <xsd:enumeration value="rw"/>
      <xsd:enumeration value="wo"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:simpleType name="treatment_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="current"/>
      <xsd:enumeration value="average"/>
      <xsd:enumeration value="high"/>
      <xsd:enumeration value="low"/>
      <xsd:enumeration value="delta"/>
      <xsd:enumeration value="pct-on"/>
      <xsd:enumeration value="pct-off"/>
      <xsd:enumeration value="count"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:simpleType name="accumulation_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="current"/>
      <xsd:enumeration value="interval"/>
      <xsd:enumeration value="cumulative"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:simpleType name="limit_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="high"/>
      <xsd:enumeration value="low"/>
      <xsd:enumeration value="timeout"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:complexType name="relateditemtype_measurement">
    <xsd:attribute name="itemname" type="xsd:string" use="required"/>
    <xsd:attribute name="relationtype" type="relation_types_measurement" use="required"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="relation_types_measurement">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="limit"/>
      <xsd:enumeration value="alarm"/>
      <xsd:enumeration value="setting"/>
      <xsd:enumeration value="interval"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:complexType name="relateditemtype_alarm">
    <xsd:attribute name="itemname" type="xsd:string" use="required"/>
    <xsd:attribute name="relationtype" type="relation_types_alarm" use="required"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="relation_types_alarm">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="reset_interval"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:complexType name="relateditemtype_limit">
    <xsd:attribute name="itemname" type="xsd:string" use="required"/>
    <xsd:attribute name="relationtype" type="relation_types_limit" use="required"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="relation_types_limit">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="measurement"/>
      <xsd:enumeration value="alarm"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:complexType name="relateditemtype_setting">
    <xsd:attribute name="itemname" type="xsd:string" use="required"/>
    <xsd:attribute name="relationtype" type="relation_types_setting" use="required"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="relation_types_setting">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="measurement"/>
      <xsd:enumeration value="alarm"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:complexType name="relateditemtype_interval">
    <xsd:attribute name="itemname" type="xsd:string" use="required"/>
    <xsd:attribute name="relationtype" type="relation_types_interval" use="required"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="relation_types_interval">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="measurement"/>
      <xsd:enumeration value="alarm"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>













































