src/main/resources/META-INF/catalog/www.upnp.org/smgt/srecinfo-v1-20130701.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:smgt:srecinfo" targetNamespace="urn:schemas-upnp-org:smgt:srecinfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:annotation>
    <xsd:documentation xml:lang="en">
        Sensor DataRecord Information schema for UPnP SensorTransportGeneric service, version 1.0.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="SensorRecordInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sensorrecord">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="field">
                <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string"/>
                  <xsd:attribute name="prefix" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>







