src/main/resources/META-INF/catalog/www.upnp.org/ra/tads-v1-20090930.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn:schemas-upnp-org:ra:tads" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tads="urn:schemas-upnp-org:ra:tads">

    <element name="tads" type="tads:tads.type"></element>
    
    <complexType name="tads.type">
    	<choice>
    		<element name="profileList" type="tads:profileList.type"></element>
    		<element name="profileConfig" type="tads:profileConfig.type"></element>
    		<element name="transportAgentCapability" type="tads:transportAgentCapability.type"></element>
    		<element name="credentialDelivery" type="tads:credentialDelivery.type"></element>
    		<element name="credentialsList" type="tads:credentialsList.type"></element>
    	</choice>
    </complexType>


    <complexType name="profileList.type">
    	<complexContent>
    		<extension base="tads:dataStructure.type">
    			<sequence>
    				<element name="profileInfo"
    					type="tads:profileInfo.type" maxOccurs="unbounded"
    					minOccurs="0">
    				</element>
    				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="profileConfig.type">
    	<complexContent>
    		<extension base="tads:dataStructure.type">
    			<sequence>
    				<element name="profileInfo" type="tads:profileInfo.type" maxOccurs="1"
    					minOccurs="1">
    				</element>
    				<element name="profileData" type="tads:profileData.type"
    					maxOccurs="1" minOccurs="1">
    				</element>
    				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="transportAgentCapability.type">
    	<sequence>
    		<element name="transportAgentOptions"
    			type="tads:transportAgentOptions.type">
    		</element>
    		<any namespace="##other" processContents="lax" minOccurs="1" maxOccurs="unbounded"></any>
    	</sequence>
    	<attribute name="transportAgentName" type="string" use="required"></attribute>
    	<anyAttribute namespace="##other" processContents="lax"></anyAttribute>
    </complexType>

    <complexType name="credentialDelivery.type">
    	<sequence>
    		<element name="credentialType" type="tads:credentialType.type"></element>
    	</sequence>
    	<attribute name="credentialDeliveryMechanism" type="string" use="required"></attribute>
    	<anyAttribute namespace="##other" processContents="lax"></anyAttribute>
    </complexType>

    <complexType name="credentialsList.type">
    	<sequence>
    		<element name="credential" type="tads:credential.type"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    	</sequence>
    	<anyAttribute namespace="##other" processContents="lax"></anyAttribute>
    </complexType>

    <complexType name="credential.type">
    	<sequence>
    		<element name="credentialID" type="string"></element>
    		<element name="credentialFriendlyName" type="string"></element>
    		<element name="credentialType" type="tads:credentialType.type"></element>
    		<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    	</sequence>
    	<attribute name="scope" type="tads:scope.value"></attribute>
    	<anyAttribute namespace="##other" processContents="lax"></anyAttribute>
    </complexType>
    
    <simpleType name="scope.value">
    	<restriction base="token">
    		<enumeration value="local"></enumeration>
    		<enumeration value="remote"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="credentialType.type">
    	<simpleContent>
    		<extension base="string">
    			<attribute name="credentialEncoding" type="string" use="required"></attribute>
    		</extension>
    	</simpleContent>
    </complexType>

    <complexType name="transportAgentOptions.type">
    	<sequence>
    		<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    	</sequence>
    </complexType>

    <complexType name="dataStructure.type">
    	<attribute name="dataStructureType" type="tads:dataStructureType.value" use="required"></attribute>
    	<anyAttribute namespace="##other" processContents="lax"></anyAttribute>
    </complexType>

    <simpleType name="dataStructureType.value">
    	<restriction base="token">
    		<enumeration value="client"></enumeration>
    		<enumeration value="server"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="profileData.type">
    	<sequence>
    		<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></any>
    	</sequence>
    </complexType>

    <complexType name="profileInfo.type">
    	<simpleContent>
    		<extension base="string">
                <attribute name="id" type="string" use="required"></attribute>
                <attribute name="transportAgentName" type="string" use="required"></attribute>
    		</extension>
    	</simpleContent>
    </complexType>
</schema>