src/main/resources/META-INF/catalog/www.upnp.org/av/AllowedTransformSettings-v1-20130331.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:AllowedTransformSettings" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:AllowedTransformSettings" elementFormDefault="qualified" attributeFormDefault="qualified" id="TransformList" version="1-20130331">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering. 
		
		Schema for UPnP A/V RCS transforms Feature
    </xsd:documentation>
	</xsd:annotation>
	<!--============================================================
	list of predefined unit types
    ============================================================-->
	<xsd:simpleType name="unittypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ly"/>
			<xsd:enumeration value="dB"/>
			<xsd:enumeration value="deg"/>
			<xsd:enumeration value="dur"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="pct"/>
			<xsd:enumeration value="px"/>
			<xsd:enumeration value="pt"/>
			<xsd:enumeration value="Hz"/>
			<xsd:enumeration value="kHz"/>
			<xsd:enumeration value="MHz"/>
			<xsd:enumeration value="GHz"/>
			<xsd:enumeration value="s"/>
			<xsd:enumeration value="ms"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="cm"/>
			<xsd:enumeration value="mm"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="KW-h"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	list of predefined transform types
    ============================================================-->
	<xsd:simpleType name="transformtypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rotation"/>
			<xsd:enumeration value="RedEye"/>
			<xsd:enumeration value="Zoom"/>
			<xsd:enumeration value="HorizontalPan"/>
			<xsd:enumeration value="VerticalPan"/>
			<xsd:enumeration value="Equalization"/>
			<xsd:enumeration value="SpeakerConfiguration"/>
			<xsd:enumeration value="AudioTrackSelection"/>
			<xsd:enumeration value="ClosedCaptioning"/>
			<xsd:enumeration value="Subtitle"/>
			<xsd:enumeration value="CameraAngle"/>
			<xsd:enumeration value="Brightness"/>
			<xsd:enumeration value="Sharpness"/>
			<xsd:enumeration value="Contrast"/>
			<xsd:enumeration value="RedVideoGain"/>
			<xsd:enumeration value="GreenVideoGain"/>
			<xsd:enumeration value="BlueVideoGain"/>
			<xsd:enumeration value="RedVideoBlackLevel"/>
			<xsd:enumeration value="GreenVideoBlackLevel"/>
			<xsd:enumeration value="ColorTemperature"/>
			<xsd:enumeration value="HorizontalKeystone"/>
			<xsd:enumeration value="VerticalKeystone"/>
			<xsd:enumeration value="PiP"/>
			<xsd:enumeration value="ComponentSelection"/>
			<xsd:enumeration value="ImageDisplayTime"/>
			<xsd:enumeration value="ImageTransitionEffects"/>
			<xsd:enumeration value="3DSettings3DScreen"/>
			<xsd:enumeration value="3DSettings2DScreen"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  vendor defined extension defintion
    ============================================================-->
	<xsd:simpleType name="vendorDefined">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="X_.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  transform names with extensions
    ============================================================-->
	<xsd:simpleType name="transformNameExceptions">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="X_.*"/>
			<xsd:pattern value="BandEq_.*"/>
			<xsd:pattern value="OutputSelection_.*"/>
			<xsd:pattern value="Volume_.*"/>
			<xsd:pattern value="VolumeDB_.*"/>
			<xsd:pattern value="Mute_.*"/>
			<xsd:pattern value="Loudness_.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  wc defined scale types
    ============================================================-->
	<xsd:simpleType name="scaletypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LINEAR"/>
			<xsd:enumeration value="LOGARITHMIC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  full transformNames list defintion, predefined + vendor specific
    ============================================================-->
	<xsd:simpleType name="transformNames">
		<xsd:union memberTypes="transformtypes transformNameExceptions"/>
	</xsd:simpleType>
	<!--============================================================
	  full transformNames list defintion, predefined + vendor specific
    ============================================================-->
	<xsd:attribute name="unit">
		<xsd:simpleType>
			<xsd:union memberTypes="unittypes transformNameExceptions"/>
		</xsd:simpleType>
	</xsd:attribute>
	<!--============================================================
	  full scale list defintion, predefined + vendor specific
    ============================================================-->
	<xsd:attribute name="scale">
		<xsd:simpleType>
			<xsd:union memberTypes="scaletypes vendorDefined"/>
		</xsd:simpleType>
	</xsd:attribute>
	<!--============================================================
	  TransformList defintion, actual schema using the prefefined types
    ============================================================-->
	<xsd:element name="TransformList">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="transform">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="friendlyName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:choice>
								<xsd:element name="allowedValueList" minOccurs="1" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="allowedValue" nillable="true" minOccurs="1" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string"/>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute name="unit" type="xsd:string" use="optional" form="unqualified"/>
										<xsd:attribute name="scale" type="xsd:string" use="optional" form="unqualified"/>
<!--						
										<xsd:attribute ref="unit" use="optional"/>
										<xsd:attribute ref="scale" use="optional"/>
-->
										<xsd:attribute name="inactiveValue" type="xsd:string" use="optional" form="unqualified"/>
										<xsd:attribute name="info" type="xsd:string" use="optional" form="unqualified"/>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="allowedValueRange" minOccurs="1" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="minimum" type="xsd:string" minOccurs="1" maxOccurs="1"/>
											<xsd:element name="maximum" type="xsd:string" minOccurs="1" maxOccurs="1"/>
											<xsd:element name="step" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
										<xsd:attribute name="unit" type="xsd:string" use="optional" form="unqualified"/>
										<xsd:attribute name="scale" type="xsd:string" use="optional" form="unqualified"/>
										<xsd:attribute name="inactiveValue" type="xsd:string" use="optional" form="unqualified"/>
										<xsd:attribute name="info" type="xsd:string" use="optional" form="unqualified"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
							<!-- AV4 update: remove row below (duplicate) -->
							<!-- <xsd:element name="friendlyName" type="xsd:string" form="unqualified" minOccurs="0" maxOccurs="1"/> -->
						</xsd:sequence>
						<xsd:attribute name="name" type="transformNames" use="required" form="unqualified"/>
						<xsd:attribute name="shared" type="xsd:boolean" use="required" form="unqualified"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
