src/main/resources/META-INF/catalog/www.upnp.org/av/avs-v2-20071113.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="urn:schemas-upnp-org:av:avs"
	xmlns:avs="urn:schemas-upnp-org:av:avs"
	xmlns:av="urn:schemas-upnp-org:av:av"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2-20071231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Schema for stateVariableValuePairs in UPnP A/V
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="urn:schemas-upnp-org:av:av"
		schemaLocation="http://www.upnp.org/schemas/av/av.xsd"/>
	
	<!--============================================================

							Global elements
	
	Elements that are allowed as root elements for any document based
	on this schema.  This schema defines the following XML documents:
	
	stateVariableValuePairs - Used by the AVT/RCS:(Get/Set)StateVariables().
	Features - Used by the CDS:GetFeatureList() action.
	Capabilities - Used by the CDS:GetFFQCapabilites() action.

    ============================================================-->
	
	<xsd:element name="stateVariableValuePairs" type="avs:stateVariableValuePairs.type"/>
	<xsd:element name="Features" type="avs:Features.type"/>
	<xsd:element name="Capabilities" type="avs:Capabilities.type"/>
  	
	<!--============================================================

	'StateVariableValuePairs' is the root element of any UPnP AV
		document that contains a list of service state variables and
		their values.
	It contains 1 or more occurrences of the element 'stateVariable'.

    ============================================================-->
	<xsd:complexType name="stateVariableValuePairs.type">
		<xsd:sequence>
			<xsd:element name="stateVariable" type="avs:stateVariable.type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--============================================================

     'stateVariable' elements identify an individual statevariable name and value.

    ============================================================-->
	<xsd:complexType name="stateVariable.type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="variableName" type="xsd:NCName" use="required"/>
				<xsd:attribute name="channel" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Schema for UPnP A/V ContentDirectory Service FeatureList
		</xsd:documentation>
	</xsd:annotation>
	
	<!--============================================================

	'Features' is the root element of any UPnP AV document that
		contains a list of service-supported features.
	It contains 0 or more occurrences of the element 'Feature'.

    ============================================================-->
	<xsd:complexType name="Features.type">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Feature" type="avs:Feature.type"/>
		</xsd:choice>
	</xsd:complexType>
	<!--============================================================

	'Feature' elements signify support for and give other relevant
		information about an individual feature.
	Attributes:
		name		Name of the Feature
		version		Integer version number of the Feature.

		============================================================-->
	<xsd:simpleType name="featureNames.base.type">
		<xsd:restriction base="xsd:NCName"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="featureNames.wc.type">
		<xsd:restriction base="avs:featureNames.base.type">
			<xsd:enumeration value="BOOKMARK"/>
			<xsd:enumeration value="EPG"/>
			<xsd:enumeration value="TUNER"/>
			<xsd:enumeration value="FOREIGN_METADATA"/>
			<xsd:enumeration value="FFQ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="featureNames.vx.type">
		<xsd:restriction base="avs:featureNames.base.type"/>
	</xsd:simpleType>
	<xsd:simpleType name="featureNames.type">
		<xsd:union memberTypes="avs:featureNames.wc.type avs:featureNames.vx.type"/>
	</xsd:simpleType>
	
	<xsd:complexType name="Feature.type">
		<xsd:annotation>
			<xsd:documentation>
				The existence of a Feature element indicates support for the
				feature whose name and version are given by the values of the
				'name' and 'version' attributes, respectively.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="avs:allowedUnderFeature.wc.group" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="name" type="avs:featureNames.type" use="required"/>
		<xsd:attribute name="version" type="xsd:unsignedInt" use="required"/>
	</xsd:complexType>
	
	<xsd:group name="allowedUnderFeature.wc.group">
		<xsd:annotation>
			<xsd:documentation>
				All AV Working Committee defined Feature elements MUST contain one or
				more occurrences of the element 'objectIDs', optionally followed by any
				vendor-defined elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="avs:allowedUnderFeature.EPGTunerBookmark.wc.group"/>
			<xsd:group ref="avs:allowedUnderFeature.ForeignMetadata.wc.group"/>
			<xsd:group ref="avs:allowedUnderFeature.FFQ.wc.group"/>
			<xsd:group ref="avs:allowedUnderFeature.vx.group" minOccurs="0"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="allowedUnderFeature.EPGTunerBookmark.wc.group">
		<xsd:annotation>
			<xsd:documentation>
				Allowed under an EPG, Tuner, or Bookmark  feature.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="avs:allowedUnderFeature.ObjectList.wc.group"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="allowedUnderFeature.ForeignMetadata.wc.group">
		<xsd:annotation>
			<xsd:documentation>
				Allowed under an “ForeignMetadata" feature.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="type" type="avs:Feature.FM.Type.type"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="allowedUnderFeature.FFQ.wc.group">
		<xsd:annotation>
			<xsd:documentation>
				Allowed under an “FFQ" feature.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:sequence minOccurs="1" maxOccurs="unbounded">
				<xsd:element name="objectID" type="avs:Feature.FFQ.ObjectID.type"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="allowedUnderFeature.ObjectList.wc.group">
		<xsd:annotation>
			<xsd:documentation>
				All AV Working Committee defined Feature elements MAY contain one or
				more occurrences of the element 'objectIDs', optionally followed by any
				vendor-defined elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="objectIDs" type="av:csv.0_.string.len.1_"/>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:complexType name="Feature.FM.Type.type">
		<xsd:annotation>
			<xsd:documentation>
				Foreign Metadata 'type' element
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:string" use="required"/>
				<xsd:attribute name="provider" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="Feature.FFQ.ObjectID.type">
		<xsd:annotation>
			<xsd:documentation>
				Free-Form Query 'objectID' element
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="av:didl-lite_COLON_at_id.vd.type">
				<xsd:attribute name="level" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:group name="allowedUnderFeature.vx.group">
		<xsd:annotation>
			<xsd:documentation>
				Currently the content of a Feature element may include zero or
				more of the occurrences of the element 'objectIDs' and/or any
				vendor-defined element.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>

  <!--============================================================

	Free-Form Query (FFQ) Capabilities
	'Capabilities' is the root element of any UPnP AV document that
	contains a list of service-supported FreeFormQuery capabilities.
	It contains 0 or 1 occurrences of the element 'namespaceList', which
	contains a list of the element 'namespaceName', and 0 or 1 
	occurrences of the element 'propertyList', which contains a list of
	the element 'propertyName'.

    ============================================================-->
  <xsd:complexType name="Capabilities.type">
    <xsd:annotation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="namespaceList" type="avs:namespaceList.type" minOccurs="1"/>
      <xsd:element name="propertyList" type="avs:propertyList.type" minOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="namespaceList.type">
    <xsd:annotation>
      <xsd:documentation>
        The existence of a namespaceList element indicates support for searches
        using FreeFormQuery on the properties belonging to those namespaces.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="namespaceName" type="avs:namespaceName.type"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:simpleType name="namespaceName.type">
    <xsd:restriction base="av:NSName"/>
  </xsd:simpleType>

  <xsd:complexType name="propertyList.type">
    <xsd:annotation>
      <xsd:documentation>
        The existence of a propertyList element indicates support for searches
        using FreeFormQuery on the properties in the list.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="propertyName" type="avs:propertyName.type"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:simpleType name="propertyName.type">
    <xsd:restriction base="av:pName"/>
  </xsd:simpleType>

</xsd:schema>