src/main/resources/META-INF/catalog/www.upnp.org/av/cm-deviceClockInfoUpdates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:cm-dciu="urn:schemas-upnp-org:av:cm-deviceClockInfoUpdates" xmlns:av="urn:schemas-upnp-org:av:av" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:cm-deviceClockInfoUpdates" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering. 
		
		Schema for UPnP A/V ConnectionManager Service Device Clock Info Updates
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="deviceClockInfoUpdate.Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Represents an update for a single clock device.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" use="required">
			<xsd:annotation>
				<xsd:documentation>A unique ID for this instance of the &lt;deviceClockInfo&gt; element. The specific value is not important but it MUST be unique within the scope of the CLOCKSYNC feature.  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="updateID" use="required">
			<xsd:annotation>
				<xsd:documentation>Contains the value of the ClockUpdateID state variable that resulted when the object was added or modified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="deviceClockInfoUpdates">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains the current updateID for all of the clock devices.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="deviceClockInfoUpdate" type="cm-dciu:deviceClockInfoUpdate.Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Vendor-defined elements can appear as child elements of &lt;deviceClockInfoUpdates&gt;.</xsd:documentation>
					</xsd:annotation>
				</xsd:any>
			</xsd:sequence>
			<xsd:anyAttribute namespace="##other">
				<xsd:annotation>
					<xsd:documentation>Vendor-defined attributes can be used with &lt;deviceClockInfoUpdates&gt;.</xsd:documentation>
				</xsd:annotation>
			</xsd:anyAttribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
