src/main/resources/META-INF/catalog/www.upnp.org/av/cm-featureList-v1-20101231.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:cm-ftrlst="urn:schemas-upnp-org:av:cm-featureList" xmlns:av="urn:schemas-upnp-org:av:av" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:cm-featureList" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering. 
		
		Schema for UPnP A/V  UPnP A/V ConnectionManager Service Feature List. Defined Features are: &lt;deviceClockInfo&gt;
		</xsd:documentation>
	</xsd:annotation>
	<!-- BEGIN(deviceClockInfo.Type): Defines the attributes and descendent elements of &lt;deviceClockInfo&gt;. -->
	<xsd:complexType name="deviceClockInfo.Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains the clock synchronization information related to a specific device. Indicates that the device has synchronized its local time-of-day clock to some master clock on the network. Includes various information about the synchronization protocol that was used. Contains exactly one instance of each of the following elements (&lt;syncProtocolID&gt;, &lt;masterClockID&gt;, &lt;accuracy&gt;) except for the &lt;supportedTimestamps&gt; element which MUST occur zero or more times.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="syncProtocolID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Identifies the clock synchronization protocol that was used to synchronize the implementation’s local time-of-day clock. Examples values include &quot;802.1AS&quot;, &quot;NTP&quot;, &quot;SNTP&quot;.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="masterClockID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Identifies the master clock to which this implementation has synchronized its local time-of-day clock. The formatting of this element&apos;s value depends on the value assigned in the &lt;syncProtocolID&gt;.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="accuracy" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Indicates the maximum number of nano-seconds that this implementation’s local clock might deviate from the underlying Master Clock identified by &lt;masterClockID&gt;. For example, a value of 1000 indicated that the implementation’s local clock might deviate up to one micro-second (1000 nano-seconds) from the Master Clock. Typically, this is characteristic of the synchronization protocol, network topology, and the device itself.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:unsignedInt"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="supportedTimestamps" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Identifies the timestamp mechanism supported by the device when content is streamed to/from the device using the transfer protocol and media format. Example values include: &quot;RTP+IEEE-1733&quot;, &quot;Identity&quot;.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Contains a unique ID for this instance of the supportedTimestamps element. Format and value are vender-defined but the value MUST be unique within this instance of the deviceClockInfo element.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="protocol" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Identifies the transfer protocol that is associated with the timestamp mechanism listed in this supportedTimestamps element. The value of this attribute MUST be one of the values listed in the &quot;protocol&quot; column in the table of &quot;Defined Protocols and their associated ProtocolInfo Values&quot; in the ConnectionManager specification.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="format" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Identifies the media format MIME-type associated with the timestamp mechanism listed in this supportedTimstamp element. The value of this attribute MUST comply with the &quot;content-format&quot; column in the table of &quot;Defined Protocols and their associated ProtocolInfo Values&quot; in the ConnectionManager specification. This includes a value of &quot;*&quot; which means that the specified timestamp mechanism (in &lt;supportedTimestamp&gt; value) is supported with any of the media formats that are supported by the device when using the indicated protocol (supportedTimeStamps@protocol value).</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">A unique ID for this instance of the &lt;deviceClockInfo&gt; element. The specific value is not important but it MUST be unique within the scope of the &quot;CLOCKSYNC Feature&quot;. The value must be persisted across reboots.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="updateID" type="xsd:unsignedInt" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Contains the value of the &quot;ConnectionManager:ClockUpdateID&quot; state variable that resulted when the object was added or modified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- END(deviceClockInfo.Type)  -->
	<!-- BEGIN(Feature.Type): Defines the attributes and permitted child elements of &lt;Feature&gt;. -->
	<xsd:complexType name="Feature.Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Encapsulates the data for a single feature, identified by its name and version number. Vendor-defined features are also permitted.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="deviceClockInfo" type="cm-ftrlst:deviceClockInfo.Type"/>
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The name of the Feature.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The version number of the Feature.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:unsignedInt">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!-- END(Feature.Type) -->
	<!-- BEGIN(Features): Declares the &lt;Features&gt; element and defines overall structure. -->
	<xsd:element name="Features">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Encapsulates all of the features for a Feature List.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Feature" type="cm-ftrlst:Feature.Type"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<!-- END(Features) -->
</xsd:schema>
