src/main/resources/META-INF/catalog/www.upnp.org/av/dmos-v1-20101231.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:dmos" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:dmos" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering.
		
		DeviceModeStatus schema for UPnP A/V ContentDirectory services, version 4.0.
		</xsd:documentation>
	</xsd:annotation>
	<!--============================================================
	Indicates "ExclusiveOwnership" resource, currently only full device is defined
	============================================================-->
	<xsd:simpleType name="AT_2">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Device"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	Indicates vendor define value for "ExclusiveOwnership" resource
	============================================================-->
	<xsd:complexType name="T_resourceID">
		<xsd:simpleContent>
			<xsd:extension base="xsd:unsignedInt">
				<xsd:attribute name="type" type="AT_2" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--============================================================
	Indicates how much time is left in "ExclusiveOwnership" mode
	============================================================-->
	<xsd:complexType name="T_exclusiveOwnershipStatus">
		<xsd:sequence>
			<xsd:element ref="resourceID"/>
			<xsd:element ref="totalTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--============================================================
	Indicates how much time is left in "ActionBurst" mode
	============================================================-->
	<xsd:complexType name="T_actionBurstStatus">
		<xsd:sequence>
			<xsd:element ref="totalTime"/>
			<xsd:element ref="responseTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--============================================================
	Can be in zero, one or both "ActionBurst" or "ExclusiveOwnership"
	============================================================-->
	<xsd:complexType name="T_DeviceModeStatus">
		<xsd:sequence>
			<xsd:element ref="actionBurstStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="exclusiveOwnershipStatus" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="totalTime" type="xsd:unsignedInt"/>
	<xsd:element name="responseTime" type="xsd:unsignedInt"/>
	<xsd:element name="resourceID" type="T_resourceID"/>
	<xsd:element name="exclusiveOwnershipStatus" type="T_exclusiveOwnershipStatus"/>
	<xsd:element name="actionBurstStatus" type="T_actionBurstStatus"/>
	<xsd:element name="DeviceModeStatus" type="T_DeviceModeStatus"/>
</xsd:schema>
