src/main/resources/META-INF/catalog/www.upnp.org/av/pi-v1-20101231.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:pi" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:pi" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20101231">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering.
		
		PermissionsInfo schema for UPnP A/V ContentDirectory services, version 4.0.
    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="T_PermissionsInfo">
		<xsd:sequence>
			<!--============================================================
			nonRestrictable actions minimum is 5 for GetFeaturesList, GetServiceResetToken,
			GetSortCapabilites, GetSystemUpdateID, GetSearchCapabilities
			============================================================-->
			<xsd:element ref="nonRestrictable" minOccurs="5" maxOccurs="unbounded"/>
			<!--============================================================
			ownall Roles minimum is 1 for AV:SuperWriter
			============================================================-->
			<xsd:element ref="ownAll" minOccurs="1" maxOccurs="unbounded"/>
			<!--============================================================
			ownall Roles minimum is 1 for AV:SuperReader
			============================================================-->
			<xsd:element ref="includeAll" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ownAll" type="xsd:string"/>
	<xsd:element name="nonRestrictable" type="xsd:string"/>
	<xsd:element name="includeAll" type="xsd:string"/>
	<xsd:element name="PermissionsInfo" type="T_PermissionsInfo"/>
</xsd:schema>
