src/main/resources/META-INF/catalog/www.upnp.org/av/rpl-v1-20130331.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rpl="urn:schemas-upnp-org:av:rpl" targetNamespace="urn:schemas-upnp-org:av:rpl" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20130331">
	<xsd:element name="playlistInfo">
		<xsd:annotation>
			<xsd:documentation>Schema for Renderer Playlist Info</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="streamingPlaylistInfo">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="playlistState">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Idle"/>
										<xsd:enumeration value="Ready"/>
										<xsd:enumeration value="Active"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="playlistChunkLengthMax" type="xsd:unsignedInt"/>
							<xsd:element name="playlistDataLengthUsed" type="xsd:unsignedInt"/>
							<xsd:element name="playlistTotalLengthAvail" type="xsd:unsignedInt"/>
							<xsd:element name="playlistTrackMin" type="xsd:unsignedInt"/>
							<xsd:element name="playlistTrackMax" type="xsd:unsignedInt"/>
							<xsd:element name="playlistCurrentFormat">
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="contentType" type="rpl:contentTypeAttrs"/>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="playlistAllowedFormats">
								<xsd:complexType>
									<xsd:sequence minOccurs="0" maxOccurs="unbounded">
										<xsd:element name="contentType" type="rpl:contentTypeAttrs"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="playlistContents" type="rpl:streamingPlaylistContentsAttrs" minOccurs="0"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="staticPlaylistInfo">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="playlistState">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Idle"/>
										<xsd:enumeration value="Incomplete"/>
										<xsd:enumeration value="Ready"/>
										<xsd:enumeration value="Active"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="playlistChunkLengthMax" type="xsd:unsignedInt"/>
							<xsd:element name="playlistTotalLengthMax" type="xsd:unsignedInt"/>
							<xsd:element name="playlistCurrentFormat">
								<xsd:complexType>
									<xsd:all minOccurs="0">
										<xsd:element name="contentType" type="rpl:contentTypeAttrs"/>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="playlistAllowedFormats">
								<xsd:complexType>
									<xsd:sequence minOccurs="0" maxOccurs="unbounded">
										<xsd:element name="contentType" type="rpl:contentTypeAttrs"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="playlistContents" type="rpl:staticPlaylistContentsAttrs" minOccurs="0"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="contentTypeAttrs">
		<xsd:attribute name="MIMEType" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value=".+/.+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="extendedType" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="streamingPlaylistContentsAttrs">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="currentTrack" type="xsd:unsignedInt" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="staticPlaylistContentsAttrs">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="currentObjID" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>


