src/main/resources/META-INF/catalog/www.upnp.org/av/TransformSettings-v1-20130331.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="urn:schemas-upnp-org:av:TransformSettings" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-upnp-org:av:TransformSettings" elementFormDefault="qualified" id="TransformSettings" version="1-20130331">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		Note that all schema supplied by the UPnP Forum AV WC committee are for informational use only and that the 
		standardized DCPs describe the normative requirements for these schema. Some schema provided do not necessarily
		embody requirements regarding number of element occurrances allowed or their ordering.
		
		Schema for UPnP A/V RCS transforms Feature
		</xsd:documentation>
	</xsd:annotation>
	<!--============================================================
	list of predefined transform types
    ============================================================-->
	<xsd:simpleType name="transformtypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rotation"/>
			<xsd:enumeration value="RedEye"/>
			<xsd:enumeration value="Zoom"/>
			<xsd:enumeration value="HorizontalPan"/>
			<xsd:enumeration value="VerticalPan"/>
			<xsd:enumeration value="Equalization"/>
			<xsd:enumeration value="SpeakerConfiguration"/>
			<xsd:enumeration value="AudioTrackSelection"/>
			<xsd:enumeration value="ClosedCaptioning"/>
			<xsd:enumeration value="Subtitle"/>
			<xsd:enumeration value="CameraAngle"/>
			<xsd:enumeration value="Brightness"/>
			<xsd:enumeration value="Sharpness"/>
			<xsd:enumeration value="Contrast"/>
			<xsd:enumeration value="RedVideoGain"/>
			<xsd:enumeration value="GreenVideoGain"/>
			<xsd:enumeration value="BlueVideoGain"/>
			<xsd:enumeration value="RedVideoBlackLevel"/>
			<xsd:enumeration value="GreenVideoBlackLevel"/>
			<xsd:enumeration value="ColorTemperature"/>
			<xsd:enumeration value="HorizontalKeystone"/>
			<xsd:enumeration value="VerticalKeystone"/>
			<xsd:enumeration value="PiP"/>
			<xsd:enumeration value="ComponentSelection"/>
			<xsd:enumeration value="ImageDisplayTime"/>
			<xsd:enumeration value="ImageTransitionEffects"/>
			<xsd:enumeration value="3DSettings3DScreen"/>
			<xsd:enumeration value="3DSettings2DScreen"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  transform names with extensions
    ============================================================-->
	<xsd:simpleType name="transformNameExceptions">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="X_.*"/>
			<xsd:pattern value="BandEq_.*"/>
			<xsd:pattern value="OutputSelection_.*"/>
			<xsd:pattern value="Volume_.*"/>
			<xsd:pattern value="VolumeDB_.*"/>
			<xsd:pattern value="Mute_.*"/>
			<xsd:pattern value="Loudness_.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--============================================================
	  full transformNames list defintion, predefined + vendor specific
    ============================================================-->
	<xsd:simpleType name="transformNames">
		<xsd:union memberTypes="transformtypes transformNameExceptions"/>
	</xsd:simpleType>
	<!--============================================================
	  the value type, with attribute index
    ============================================================-->
	<xsd:complexType name="Value.Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="index" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--============================================================
	  the TransformSettings schema 
    ============================================================-->
	<xsd:element name="TransformSettings">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element name="transform" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="unbounded">
							<xsd:element name="value"> <!-- AV4 update: changed "Value" to "value" -->
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="index" type="xsd:string" use="optional"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="name" type="transformNames" use="required" form="unqualified"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
