src/main/resources/META-INF/catalog/www.upnp.org/schemas/ds/drecstatus-v1-20130701.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:schemas-upnp-org:ds:drecstatus" targetNamespace="urn:schemas-upnp-org:ds:drecstatus" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1-20130701">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
        Sensor DataRecord Status schema for UPnP DataStore service, version 1.0.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="DataRecordStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="datarecordstatus"  minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="accepted" type="upnp_0_or_1" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="upnp_0_or_1">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>







