src/main/resources/META-INF/catalog/www.upnp.org/schemas/phone/peer-v2-20121210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:schemas-upnp-org:phone:peer" targetNamespace="urn:schemas-upnp-org:phone:peer" elementFormDefault="qualified" attributeFormDefault="qualified" version="2">
    <complexType name="peerType">
        <sequence>
            <element name="id" type="tns:id" nillable="0"/>
            <element name="name" type="string" nillable="0" minOccurs="0">
                <annotation>
                    <documentation>Textual name of the peer. In case the Phone Data Model is supported, this element MUST be the FormattedName in the address book.</documentation>
                </annotation>
            </element>
            <choice minOccurs="0">
                <element name="contactInstanceId" type="tns:contactInstanceId" nillable="0"/>
                <element name="groupInstanceId">
                    <annotation>
                        <documentation>The Instance Identifier of a Group in the PDM address book.</documentation>
                    </annotation>
                </element>
            </choice>
            <element name="image" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="contentType" type="string" minOccurs="0"/>
                        <element name="contentTransferEncoding" type="string" minOccurs="0"/>
                        <element name="imageData" type="string" minOccurs="0"/>
                    </sequence>
                    <attribute name="type" use="optional">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="URL"/>
                                <enumeration value="thumbnail"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                </complexType>
            </element>
            <element name="location" minOccurs="0">
                <annotation>
                    <documentation>Either a URL points to the map information; URL for a the map image OR it could include longitude and latitude information in ["LAT LON"] order.</documentation>
                </annotation>
                <complexType>
                    <simpleContent>
                        <extension base="string">
                            <attribute name="type" use="optional" default="map">
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="map"/>
                                        <enumeration value="coordinates"/>
                                    </restriction>
                                </simpleType>
                            </attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <any namespace="##other" minOccurs="0">
                <annotation>
                    <documentation>Vendor defined extensions attachment point.</documentation>
                </annotation>
            </any>
        </sequence>
    </complexType>
    <simpleType name="id">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="contactInstanceId">
        <restriction base="unsignedInt"/>
    </simpleType>
    <element name="peerType" type="tns:peerType" />
</schema>
