src/main/resources/META-INF/catalog/www.upnp.org/sec/UPnPSecurity_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:schemas-upnp-org:service:DeviceSecurity:1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:service:DeviceSecurity:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CPList">
		<xs:annotation>
			<xs:documentation>See Section 2.3.1 in the SecurityConsole spec. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hash" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="icon">
		<xs:annotation>
			<xs:documentation>See Section 2.5.1 in the SecurityConsole spec. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mimetype" type="xs:string"/>
				<xs:element name="width" type="xs:nonNegativeInteger"/>
				<xs:element name="height" type="xs:nonNegativeInteger"/>
				<xs:element name="depth" type="xs:positiveInteger"/>
				<xs:element name="url" type="xs:anyURI"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignedNameList">
		<xs:annotation>
			<xs:documentation>See Section 2.5.2 in the SecurityConsole spec. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Names">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Device" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element ref="hash"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CP" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element ref="hash"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:ID" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hash">
		<xs:annotation>
			<xs:documentation>See Section 2.10.12 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="algorithm" type='OpenHashAlgorithm' >
				</xs:element>
				<xs:element name="value" type="xs:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cert">
		<xs:annotation>
			<xs:documentation>See Section 4.4.1 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Authorization Certificate</xs:documentation>
					</xs:annotation>
					<xs:element name="issuer">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="hash"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="subject"/>
					<xs:element name="may-not-delegate" minOccurs="0"/>
					<xs:element name="tag">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="device">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="hash"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="access">
									<xs:complexType>
										<xs:choice>
											<xs:element name="all" minOccurs="0"/>
											<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="valid" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Name Certificate</xs:documentation>
					</xs:annotation>
					<xs:element name="define" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="name">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="hash"/>
											<xs:element name="text" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="subject"/>
					<xs:element ref="valid" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Id" type="xs:ID" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:annotation>
			<xs:documentation>See Section 5.2.3 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cert" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Signature" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Owners">
		<xs:annotation>
			<xs:documentation>See Section 2.10.12 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hash" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Keys">
		<xs:annotation>
			<xs:documentation>See Section 2.9.1 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Confidentiality">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RSAKeyValue">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Modulus" type="xs:base64Binary"/>
										<xs:element name="Exponent" type="xs:base64Binary"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signing" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RSAKeyValue">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Modulus" type="xs:base64Binary"/>
										<xs:element name="Exponent" type="xs:base64Binary"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Supported">
		<xs:annotation>
			<xs:documentation>See Section 2.9.2 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Protocols" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="p" type="OpenProtocols" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HashAlgorithms" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="p" type="OpenHashAlgorithms" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EncryptionAlgorithms" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="p" type="OpenEncryptionAlgorithms" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SigningAlgorithms" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="p" type="OpenSigningAlgorithms" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SessionKeys">
		<xs:annotation>
			<xs:documentation>See Section 2.9.7 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Confidentiality">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Algorithm" type="OpenEncryptionAlgorithms"/>
							<xs:element name="KeyToDevice" type="xs:base64Binary"/>
							<xs:element name="KeyFromDevice" type="xs:base64Binary"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signing">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Algorithm" type="OpenSigningAlgorithms"/>
							<xs:element name="KeyToDevice" type="xs:base64Binary"/>
							<xs:element name="KeyFromDevice" type="xs:base64Binary"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefinedPermissions">
		<xs:annotation>
			<xs:documentation>See Section 2.10.2 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Permission" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UIName" type="xs:string"/>
							<xs:element name="ACLEntry">
								<xs:complexType>
									<xs:sequence>
										<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FullDescriptionURL" type="xs:anyURI"/>
							<xs:element name="ShortDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Profiles">
		<xs:annotation>
			<xs:documentation>See Section 2.10.3 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Profile" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UIname" type="xs:string"/>
							<xs:element name="Definition">
								<xs:complexType>
									<xs:sequence>
										<xs:any namespace="##targetNamespace" processContents="lax"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FullDescriptionURL" type="xs:anyURI"/>
							<xs:element name="ShortDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="acl">
		<xs:annotation>
			<xs:documentation>See Section 2.10.4 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="subject"/>
							<xs:element name="may-not-delegate" minOccurs="0"/>
							<xs:element name="access">
								<xs:complexType>
									<xs:choice>
										<xs:element name="all" minOccurs="0"/>
										<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element ref="valid" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Freshness">
		<xs:annotation>
			<xs:documentation>See Section 5.2 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SequenceBase" type="xs:string"/>
				<xs:element name="SequenceNumber" type="xs:string"/>
				<xs:element name="controlURL" type="xs:anyURI"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UPnPData">
		<xs:annotation>
			<xs:documentation>See Section 5.2.3 in the DeviceSecurity spec.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="valid">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="not-before" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="not-after" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="hash" minOccurs="0"/>
				<xs:element name="name" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="hash"/>
							<xs:element name="text" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="any" minOccurs="0"/>
				<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name='OpenProtocols' >
		<xs:union memberTypes='Protocols xs:string' /> 
	</xs:simpleType>
	<xs:simpleType name='Protocols' >
	<xs:restriction base='xs:string' >
		<xs:enumeration value='UPnP' />
		<xs:enumeration value='TLS' />
		<xs:enumeration value='IPSEC' />
	</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name='OpenHashAlgorithms' >
		<xs:union memberTypes='HashAlgorithms xs:string' /> 
	</xs:simpleType>
	<xs:simpleType name='HashAlgorithms' >
	<xs:restriction base='xs:string' >
		<xs:enumeration value='SHA1' />
	</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='OpenEncryptionAlgorithms' >
		<xs:union memberTypes='EncryptionAlgorithms xs:string' /> 
	</xs:simpleType>
	<xs:simpleType name='EncryptionAlgorithms' >
	<xs:restriction base='xs:string' >
		<xs:enumeration value='NULL' />
		<xs:enumeration value='RSA' />
		<xs:enumeration value='AES-128-CBC' />
	</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='OpenSigningAlgorithms' >
		<xs:union memberTypes='SigningAlgorithms xs:string' /> 
	</xs:simpleType>
	<xs:simpleType name='SigningAlgorithms' >
	<xs:restriction base='xs:string' >
		<xs:enumeration value='NULL' />
		<xs:enumeration value='RSA' />
		<xs:enumeration value='SHA1-HMAC' />
	</xs:restriction>
	</xs:simpleType>

</xs:schema>

			
