src/main/resources/META-INF/catalog/www.upnp.org/qos/Layer2Mapping-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:Layer2Mapping" targetNamespace="urn:schemas-upnp-org:qos:Layer2Mapping" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		  This file describes the schema for the Layer2Mapping
		  This is for Version 3.0 of the UPnP QoS specification
	          Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.

		  Schema Location: "http://www.upnp.org/schemas/qos/Layer2Mapping-v3.xsd"
		</xs:documentation>
	</xs:annotation>
	<xs:element name="Layer2Mapping" type="Layer2MappingType"/>
	<xs:complexType name="Layer2MappingType">
		<xs:sequence>
			<xs:element name="TrafficHandle" type="xs:string" minOccurs="0"/>
			<xs:element name="QosSegmentId" type="xs:string"/>
			<xs:element name="Layer2StreamId" type="Layer2StreamId64Type"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Layer2StreamId64Type">
		<xs:restriction base="xs:string">
			<xs:length value="64" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
