src/main/resources/META-INF/catalog/www.upnp.org/qos/ListOfTrafficPolicies-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Amol Bhagwat (CableLabs) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:ListOfTrafficPolicies" targetNamespace="urn:schemas-upnp-org:qos:ListOfTrafficPolicies" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
      ListOfTrafficPolicies
      This is for Version 3.0 of the UPnP QoS specification
      Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.
	  Schema Location: "http://www.upnp.org/schemas/qos/ListOfTrafficPolicies-v3.xsd"
    </xs:documentation>
	</xs:annotation>
	<xs:element name="ListOfTrafficPolicies" type="ListOfTrafficPoliciesType"/>
	<xs:complexType name="ListOfTrafficPoliciesType">
		<xs:sequence>
			<xs:element name="TdPolicy" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrafficHandle"/>
						<xs:element name="TdPolicyPerTspec" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TspecIndex" type="xs:integer"/>
									<xs:element name="TrafficImportanceNumber">
										<xs:simpleType>
											<xs:restriction base="xs:nonNegativeInteger">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UserImportanceNumber">
										<xs:simpleType>
											<xs:restriction base="xs:nonNegativeInteger">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="V4ExtendedPolicy" type="v4OptionalParamsType" minOccurs="0"/>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:any namespace="##other" processContents="lax"/>
										<xs:any namespace="##local" processContents="lax"/>
									</xs:choice>									
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:any namespace="##other" processContents="lax"/>
							<xs:any namespace="##local" processContents="lax"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdmissionPolicy">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Enabled"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PolicyHolderId" type="xs:string"/>
			<xs:element name="PolicyHolderConfigUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="PolicyLastModified" type="xs:string" minOccurs="0"/>
			<xs:element name="PolicyModifyingUserName" type="xs:string" minOccurs="0"/>
			<xs:element name="V4OptionalParameter" type="v4OptionalParamsType" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4OptionalParamsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
