src/main/resources/META-INF/catalog/www.upnp.org/qos/PathInformation-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Swade (Sharp Labs of America) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.upnp.org/schemas/PathInformation.xsd" targetNamespace="http://www.upnp.org/schemas/PathInformation.xsd" elementFormDefault="qualified" id="PathInformation">
	<xs:annotation>
		<xs:documentation xml:lang="en">
			QosDevice PathInformation schema version 3.0. Copyright	2004,2005 UPnP(tm).	All	rights reserved.	
			
			schema location: http://www.upnp.org/schemas/qos/PathInformation-v3.xsd	
		</xs:documentation>
	</xs:annotation>
	<xs:element name="DeviceReachableMacs" type="DeviceReachableMacsType"/>
	<xs:complexType name="DeviceReachableMacsType">
		<xs:sequence>
			<xs:element name="LinkReachableMacs" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<!-- NOTE!!! LinkId actually contains the InterfaceId as specified in the Resource structure.
								Use ActualLinkId to store link ID if applicable.
								 We are stuck with the misnomer for backwards compatibility reasons -->
						<xs:element name="LinkId" type="xs:string"/>
						<xs:element name="BridgeId" type="xs:string" minOccurs="0"/>
						<xs:element name="MacAddress" type="MacAddressType" minOccurs="0"/>
						<xs:element name="ReachableMac" type="MacAddressType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="v2" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="v3" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="QosSegmentId" type="xs:string"/>
												<xs:element name="ActualLinkId" type="xs:string" minOccurs="0"/>
												<xs:element name="v4" type="v4type" minOccurs="0"/>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:any namespace="##other" processContents="lax"/>
													<xs:any namespace="##local" processContents="lax"/>
												</xs:choice>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:any namespace="##other" processContents="lax"/>
										<xs:any namespace="##local" processContents="lax"/>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<!-- allow any element except those from target namespace -->
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:any namespace="##other" processContents="lax"/>
							<xs:any namespace="##local" processContents="lax"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MacAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
