src/main/resources/META-INF/catalog/www.upnp.org/qos/ProtoTspec-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Swade (x) -->
<!-- http://www.upnp.org/schemas/qos/ProtoTspec-v3.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:ProtoTspec" targetNamespace="urn:schemas-upnp-org:qos:ProtoTspec" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		  This file describes the schema for the ProtoTspec
		  This is for Version 3.0 of the UPnP QoS specification
	          Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.

		  Schema Location: "http://www.upnp.org/schemas/qos/ProtoTpsec-v3.xsd"
		</xs:documentation>
	</xs:annotation>
	<!-- next line is the root element and is of type ProtoTspec -->
	<xs:element name="ProtoTspec" type="ProtoTspecType"/>
	<!-- Type definition for root element ProtoTspecType -->
	<xs:complexType name="ProtoTspecType">
		<xs:sequence>
			<xs:element name="TspecIndex" type="xs:integer" minOccurs="0"/>
			<xs:element name="NumberOfParameters" type="xs:integer"/>
			<xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- End of ProtoTspecType definition -->
	<!-- ParameterType definition -->
	<xs:complexType name="ParameterType">
		<xs:sequence>
			<xs:element name="ParameterName" type="xs:string"/>
			<xs:element name="ParameterInclusion" type="ParameterInclusionType"/>
			<xs:element name="ParameterMinValue" type="xs:integer" minOccurs="0"/>
			<xs:element name="ParameterMaxValue" type="xs:integer" minOccurs="0"/>
			<xs:element name="DefaultValue" type="xs:integer" minOccurs="0"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- End of ParameterType definition -->
	<!-- ParameterInclusionType definition -->
	<xs:simpleType name="ParameterInclusionType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Mandatory"/>
			<xs:enumeration value="Recommended"/>
			<xs:enumeration value="Optional"/>
			<xs:enumeration value="Fixed"/>
			<xs:enumeration value="Ignored"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End of ParameterInclusionType definition -->
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
