src/main/resources/META-INF/catalog/www.upnp.org/qos/QosDeviceCapabilities-v2-20061016.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="http://www.upnp.org/schemas/QosDeviceCapabilities.xsd" 
 targetNamespace="http://www.upnp.org/schemas/QosDeviceCapabilities.xsd" 
 elementFormDefault="qualified" id="QosDeviceCapabilities.xsd">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      QosDeviceCapabilities
      This is for Version 2.0 of the UPnP QoS specification
      Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	  Schema Location: "http://www.upnp.org/schemas/qos/QosDeviceCapabilities-v2.xsd"
    </xs:documentation>
  </xs:annotation>
  <xs:element name="QosDeviceCapabilities" type="QosDeviceCapabilitiesType"/>
  <xs:complexType name="QosDeviceCapabilitiesType">
    <xs:sequence>
      <xs:element name="Interface" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InterfaceId" type="xs:string"/>
            <xs:element name="MacAddress" type="MacAddressType" minOccurs="0"/>
            <xs:element name="IanaTechnologyType" type="xs:integer" minOccurs="0"/>
            <xs:element name="AdmissionControlSupported">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="No"/>
                  <xs:enumeration value="Yes"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PacketTaggingSupported"> 
              <xs:simpleType> 
                <xs:restriction base="xs:string"> 
                  <xs:enumeration value="No"/> 
                  <xs:enumeration value="Yes"/> 
                </xs:restriction> 
              </xs:simpleType> 
            </xs:element>
            <xs:element name="NativeQos" type="NativeQosType"/>
            <xs:element name="MaxPhyRate" type="xs:unsignedInt"/>
            <xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
            <!-- allow any element except those from target namespace -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:any namespace="##other" processContents="lax"/>
              <xs:any namespace="##local" processContents="lax"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MacAddressType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NativeQosType">
    <xs:union memberTypes="BasicNativeList xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="BasicNativeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prioritized"/>
      <xs:enumeration value="BestEffort"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="v2ExtensionType">
    <xs:sequence>
      <xs:element name="ChannelInformation" type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="v3" type="v3ExtensionType" minOccurs="0"/>
      <!-- allow any element except those from (v2) target namespace -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other" processContents="lax"/>
        <xs:any namespace="##local" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:anyAttribute/>
  </xs:complexType>
  <xs:complexType name="v3ExtensionType">
    <xs:sequence>
      <xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute/>
  </xs:complexType>
</xs:schema>
