src/main/resources/META-INF/catalog/www.upnp.org/qos/QphPolicyRule-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:QphPolicyRule.xsd" xmlns:td="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" targetNamespace="urn:schemas-upnp-org:qos:QphPolicyRule.xsd" elementFormDefault="qualified">
  
  <xs:import namespace="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" schemaLocation="http://www.upnp.org/schemas/qos/TrafficDescriptor-v3.xsd"/>
  
  <xs:annotation>
    <xs:documentation xml:lang="en"> QphPolicyRule. This is for version 3.0 of UPnP QoS
      specification Copyright 2004-2007 Contributing Members of the UPnP Forum. All rights reserved.
      Schema Location: "http://www.upnp.org/schemas/qos/QphPolicyRule-v3.xsd" </xs:documentation>
  </xs:annotation>
  
  <xs:element name="QphPolicyRule" type="QphPolicyRuleType"/>
  
  <xs:complexType name="QphPolicyRuleType">
    <xs:sequence>
      <xs:element name="QphPolicyClassifier" type="QphPolicyClassifierType"/>
      <xs:element name="QphPolicyParameter" type="QphPolicyParameterType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="QphPolicyClassifierType">
           <xs:sequence>
            <xs:element name="TrafficIdUpLimit" type="td:TrafficIdType" minOccurs="0"/>
            <xs:element name="TrafficIdLowLimit" type="td:TrafficIdType" minOccurs="0"/>
            <xs:element name="TspecUpLimit" type="td:TrafficSpecification" minOccurs="0"/>
            <xs:element name="TspecLowLimit" type="td:TrafficSpecification" minOccurs="0"/>
            <xs:element name="QosBoundarySourceAddressUpLimit" type="td:IpAddress" minOccurs="0"/>
            <xs:element name="QosBoundarySourceAddressLowLimit" type="td:IpAddress" minOccurs="0"/>
            <xs:element name="QosBoundaryDestinationAddressUpLimit" type="td:IpAddress" minOccurs="0"/>
            <xs:element name="QosBoundaryDestinationAddressLowLimit" type="td:IpAddress" minOccurs="0"/>
            <xs:element name="UserName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="64"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CpName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="64"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="VendorApplicationName" type="xs:string" minOccurs="0"/>
            <xs:element name="PortName" type="xs:string" minOccurs="0"/>
            <xs:element name="ServiceProviderServiceName" type="xs:string" minOccurs="0"/>
            <xs:element name="TrafficLeaseTimeUpLimit" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="TrafficLeaseTimeLowLimit" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="Critical" type="xs:boolean" minOccurs="0"/>
             <xs:element name="StartTime" type="StartAndEndTimeType" minOccurs="0"/>
             <xs:element name="EndTime" type="StartAndEndTimeType" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:any namespace="##other" processContents="lax"/>
              <xs:any namespace="##local" processContents="lax"/>
            </xs:choice>
          </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="StartAndEndTimeType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="604800"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="QphPolicyParameterType">
    <xs:sequence>
      <xs:element name="TrafficImportanceNumber" type="TrafficImportanceType" default="0" minOccurs="0"/>
      <xs:element name="ImportanceNumber" type="ImportanceNumberType" default="0" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="TrafficImportanceType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="7"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ImportanceNumberType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
