src/main/resources/META-INF/catalog/www.upnp.org/qos/TrafficPolicy-v2-20061016.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://www.upnp.org/schemas/TrafficPolicy.xsd" 
  targetNamespace="http://www.upnp.org/schemas/TrafficPolicy.xsd" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified" 
  id="TrafficPolicy.xsd">
	<xs:annotation>
		<xs:documentation>
			  TrafficPolicy
			  This is for version 2.0 of the UPnP QoS specification.
			  Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
			  Schema Location: "http://www.upnp.org/schemas/qos/TrafficPolicy-v2.xsd"
   </xs:documentation>
	</xs:annotation>
	<xs:element name="TrafficPolicy" type="TrafficPolicyType"/>
	<xs:complexType name="TrafficPolicyType">
		<xs:sequence>
			<xs:element name="AdmissionPolicy">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Disabled"/>
						<xs:enumeration value="Enabled"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrafficImportanceNumber">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UserImportanceNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
			<!-- allow any element except those from (v1) target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v2ExtensionType">
		<xs:sequence>
			<xs:element name="PolicyHolderId" type="xs:string" minOccurs="0"/>
			<xs:element name="PolicyLastModified" type="xs:string" minOccurs="0"/>
			<xs:element name="PolicyModifyingUserName" type="xs:string" minOccurs="0"/>
			<xs:element name="PolicyHolderConfigUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="v3" type="v3ExtensionType" minOccurs="0"/>
			<!-- allow any element except those from (v2) target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="v3ExtensionType">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
</xs:schema>
