src/main/resources/META-INF/catalog/www.upnp.org/phone/calendar-v1-20121210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="urn:schemas-upnp-org:phone:calendar" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:peer="urn:schemas-upnp-org:phone:peer" targetNamespace="urn:schemas-upnp-org:phone:calendar" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <import namespace="urn:schemas-upnp-org:phone:peer" schemaLocation="http://www.upnp.org/schemas/phone/peer-v2.xsd"/>
    <element name="calendarItem">
        <annotation>
            <documentation> Corresponding state variable: calendarItem</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="item" type="tns:item" />
            </sequence>
        </complexType>
    </element>
    <element name="triggeredItem">
        <annotation>
            <documentation> Corresponding state variable: triggeredItem</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="itemID" type="string" />
            </sequence>
        </complexType>
    </element>
    <element name="memoInfo">
        <annotation>
            <documentation> Corresponding state variable: MemoInfo </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="memo" type="tns:memo"/>
            </sequence>
        </complexType>
    </element>
    <element name="triggeredItems">
        <annotation>
            <documentation> Corresponding state variable: triggeredItem </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="itemID" type="string"  minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="calendarItems">  
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_CalItems</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>
    <element name="calendarItemID"> 
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_ItemIDs</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="itemID" type="string" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>
    <element name="memo" type="string" >
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_Memo</documentation>
        </annotation>
    </element>
    <element name="memoID" type="string" >
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_MemoID</documentation>
        </annotation>
    </element>
    <element name="itemDeliveryMethod ">
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_ItemDeliveryMethod</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="deliveryMethod" type="tns:deliveryMethod" minOccurs="1"/>
            </sequence>
        </complexType>
    </element>
    <element name="memoInfoList">
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_MemoInfoList</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="memoList" type="tns:memoList"/>
            </sequence>
        </complexType>
    </element>
    <element name="telCPName" type="string" >
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_TelCPName</documentation>
        </annotation>
    </element>
    <element name="telCPNameList" type="string" >
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_TelCPNameList</documentation>
        </annotation>
    </element>
    <element name="expires" type="integer" >
        <annotation>
            <documentation> Corresponding state variable: A_ARG_TYPE_Expires</documentation>
        </annotation>
    </element>
    <complexType name="item">
        <sequence>
            <element name="item"></element>
        </sequence>
        <attribute name="Itemid"></attribute>
        <attribute name="format"></attribute>
        <attribute name="TelCPID"></attribute>
    </complexType>
    <complexType name="memo">
        <sequence>
            <element name="memoID" type="string" />
            <element name="memoText" type="string" />
        </sequence>
    </complexType>
    <complexType name="deliveryMethod">
        <sequence>
            <element name="email" type="string"  minOccurs="0" maxOccurs="unbounded"/>
            <element name="sms" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="sip" type="string" minOccurs="0" maxOccurs="unbounded" />
            <element name="sns" type="tns:sns" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="itemID" type="string" use="optional"/>
    </complexType>
    <complexType name="sns">
        <sequence>
            <element name="snsName" type="string" />
            <element name="snsID" type="string" />
        </sequence>
    </complexType>
    <complexType name="memoList">
        <sequence>
            <element name="memo" type="tns:memo" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
</schema>