src/main/resources/META-INF/catalog/www.upnp.org/phone/messaging-v1-20100928.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:messaging="urn:schemas-upnp-org:phone:messaging" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:peer="urn:schemas-upnp-org:phone:peer" targetNamespace="urn:schemas-upnp-org:phone:messaging" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<import namespace="urn:schemas-upnp-org:phone:peer" schemaLocation="http://www.upnp.org/schemas/phone/peer-v1.xsd"/>
	<simpleType name="messageID.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessageID. Text format is: [SessionID.]MessageID</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[a-zA-Z0-9]*(\.[a-zA-Z0-9]+)?"/>
		</restriction>
	</simpleType>
	<simpleType name="messageClass.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessageClass</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="messageFolder.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessageFolder</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="messageStatus.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessageStatus</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="sessionID.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SessionID</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[a-zA-Z0-9]*"/>
		</restriction>
	</simpleType>
	<simpleType name="sessionClass.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SessionClass</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="sessionStatus.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SessionStatus</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="supportedContentType.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SupportedContentType</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<complexType name="recipientsList.type">
		<annotation>
			<documentation>Complex type defining a list of recipients</documentation>
		</annotation>
		<sequence>
			<element name="recipientTo" type="peer:peerType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="recipientCc" type="peer:peerType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="recipientBcc" type="peer:peerType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="recipientFrom" type="peer:peerType"/>
		</sequence>
	</complexType>
	<complexType name="attachment.type">
		<annotation>
			<documentation>Complext type defining an attachment to a message</documentation>
		</annotation>
		<sequence>
			<element name="uRI" type="anyURI"/>
			<element name="size" type="nonNegativeInteger" minOccurs="0"/>
			<element name="mimeType" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="message.type">
		<annotation>
			<documentation>Complex type defining the possible properties of a message of any Class.</documentation>
		</annotation>
		<sequence>
			<element name="messageID" type="messaging:messageID.type"/>
			<element name="sessionID" type="messaging:sessionID.type" minOccurs="0"/>
			<element name="messageClass" type="messaging:messageClass.type"/>
			<element name="messageFolder" type="messaging:messageFolder.type"/>
			<element name="messageStatus" type="messaging:messageStatus.type"/>
			<element name="replyMessageID" type="messaging:messageID.type" minOccurs="0"/>
			<element name="recipientsList" type="messaging:recipientsList.type"/>
			<element name="subject" type="string" minOccurs="0"/>
			<element name="text" type="string" minOccurs="0"/>
			<element name="attachments" minOccurs="0">
				<complexType>
					<sequence maxOccurs="unbounded">
						<element name="attachment" type="messaging:attachment.type"/>
					</sequence>
				</complexType>
			</element>
			<element name="dateSent" type="dateTime" minOccurs="0"/>
			<element name="dateReceived" type="dateTime" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="newMessage.type">
		<annotation>
			<documentation>Complex type defining the possible proprieties of a new incoming message</documentation>
		</annotation>
		<sequence>
			<element name="messageID" type="messaging:messageID.type"/>
			<element name="messageOverview" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="session.type">
		<annotation>
			<documentation>Complex type defining the possible properties of a messaging session of any Class.</documentation>
		</annotation>
		<sequence>
			<element name="sessionID" type="messaging:sessionID.type"/>
			<element name="sessionClass" type="messaging:sessionClass.type"/>
			<element name="subject" type="string" minOccurs="0"/>
			<element name="sessionStatus" type="messaging:sessionStatus.type"/>
			<element name="supportedContentType" type="messaging:supportedContentType.type" minOccurs="0"/>
			<element name="recipientsList" type="messaging:recipientsList.type"/>
			<element name="listOfMessages" minOccurs="0">
				<complexType>
					<sequence minOccurs="0" maxOccurs="unbounded">
						<element name="messageID" type="messaging:messageID.type"/>
					</sequence>
				</complexType>
			</element>
			<element name="dateStarted" type="dateTime" minOccurs="0"/>
			<element name="dateLastMessage" type="dateTime" minOccurs="0"/>
			<element name="dateEnded" type="dateTime" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="fileInfo.type">
		<annotation>
			<documentation>Complex type defining the information of the file to transfer</documentation>
		</annotation>
		<sequence>
			<element name="fileType" type="string"/>
			<element name="fileSize" type="nonNegativeInteger"/>
			<element name="fileLink" type="anyURI"/>
			<element name="progressNotif">
				<complexType>
					<simpleContent>
						<extension base="boolean">
							<attribute name="time" type="positiveInteger"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="fileInfoList.type">
		<annotation>
			<documentation>Complex type defining the information associated to a file transfer session</documentation>
		</annotation>
		<sequence>
			<element name="sessionID" type="messaging:sessionID.type"/>
			<element name="fileInfo" type="messaging:fileInfo.type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="messagingCapabilities">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessagingCapabilities</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="supportedMessageClasses">
					<complexType>
						<sequence maxOccurs="unbounded">
							<element name="messageClass" type="messaging:messageClass.type"/>
						</sequence>
					</complexType>
				</element>
				<element name="supportedSessionClasses">
					<complexType>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<element name="sessionClass" type="messaging:sessionClass.type"/>
						</sequence>
					</complexType>
				</element>
				<element name="supportedMessageFolders">
					<complexType>
						<sequence maxOccurs="unbounded">
							<element name="messageFolder" type="messaging:messageFolder.type"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="newMessages">
		<annotation>
			<documentation>Corresponding state variable: NewMessages</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>No new messages is a possible actual value</documentation>
				</annotation>
				<element name="newMessage" type="messaging:newMessage.type"/>
			</sequence>
		</complexType>
	</element>
	<element name="sessionUpdates">
		<annotation>
			<documentation>Corresponding state variable: SessionUpdates</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="sessionUpdate">
					<complexType>
						<sequence>
							<element name="sessionID" type="messaging:sessionID.type"/>
							<element name="sessionEvent" type="string" maxOccurs="unbounded"/>
							<element name="sessionStatus" type="messaging:sessionStatus.type"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="message" type="messaging:message.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_Message</documentation>
		</annotation>
	</element>
	<element name="messageList">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_MessageList</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="message" type="messaging:message.type"/>
			</sequence>
		</complexType>
	</element>
	<element name="sessionInfo" type="messaging:session.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SessionInfo</documentation>
		</annotation>
	</element>
	<element name="sessionsList">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_SessionsList</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="sessionInfo" type="messaging:session.type"/>
			</sequence>
		</complexType>
	</element>
	<element name="recipientsList" type="messaging:recipientsList.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_RecipientsList</documentation>
		</annotation>
	</element>
	<element name="fileInfoList" type="messaging:fileInfoList.type">
		<annotation>
			<documentation>Corresponding state variable: A_ARG_TYPE_FileInfoList</documentation>
		</annotation>
	</element>
</schema>
