src/main/resources/META-INF/catalog/www.upnp.org/phone/mms-v1-20100930.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="urn:schemas-upnp-org:phone:mms" xmlns:mms="urn:schemas-upnp-org:phone:mms" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <simpleType name="mediaCapabilityFormatType">
  <restriction base="string">
    <enumeration value="SDP" />
  </restriction>
  </simpleType>

  <simpleType name="mediaSessionStatusValueType">
  <restriction base="string">
    <enumeration value="Started" />
    <enumeration value="Stopped" />
  </restriction>
  </simpleType>

  <simpleType name="mediaSessionStatusReasonType">
  <restriction base="string">
    <enumeration value="Modified" />
    <enumeration value="Error" />
  </restriction>
  </simpleType>

  <complexType name="mediaSessionInfoType">
    <sequence>
      
      <element name="mediaSessionID" form="unqualified" type="string" />
      
      <element name="mediaSessionStatus" form="unqualified" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="mms:mediaSessionStatusValueType">
              <attribute name="reason" form="unqualified" type="mms:mediaSessionStatusReasonType" use="optional" />
            </extension>
          </simpleContent>
        </complexType>
      </element>
      
      <element name="mediaCapability" form="unqualified" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="format" form="unqualified" type="mms:mediaCapabilityFormatType" use="required" />
            </extension>
          </simpleContent>
        </complexType>
      </element>
      
    </sequence>
  </complexType>

  <element name="mediaCapabilityInfo">
    <complexType>

      <choice maxOccurs="unbounded">
        <element name="mediaCapability" form="unqualified" nillable="true">
          <complexType>
            <simpleContent>
              <extension base="string">
                <attribute name="format" form="unqualified" type="mms:mediaCapabilityFormatType" use="required" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
      </choice>
      
    </complexType>
  </element>

  <element name="mediaSessionInfo" type="mediaSessionInfoType" />

  <element name="mediaSessionInfoList">
    <complexType>
      <choice maxOccurs="unbounded">
        <element name="mediaSessionInfo" form="unqualified" type="mediaSessionInfoType" />
      </choice>

    </complexType>
  </element>

</schema>