src/main/resources/META-INF/catalog/www.upnp.org/phone/presence-v1-20121210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:presence="urn:schemas-upnp-org:phone:Presence" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:pid="urn:ietf:params:xml:ns:pidf"  xmlns:peer="urn:schemas-upnp-org:phone:peer"  targetNamespace="urn:schemas-upnp-org:phone:Presence"  elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:import namespace="urn:ietf:params:xml:ns:pidf" schemaLocation="pidf.xsd" />
    <xs:import namespace="urn:schemas-upnp-org:phone:peer" schemaLocation="http://www.upnp.org/schemas/phone/peer-v2.xsd"/>
    <xs:element name="UserPresenceInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="presence" type="pid:presence"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    <xs:element name="PresenceOfContactsUpdate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="remotecontact" type="peer:peerType" />
                <xs:element name="presence" type="pid:presence" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserPresence">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="presence" type="pid:presence" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PresenceOfContactsList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="presence" type="presence:presence" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ContactId">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contact" type="peer:peerType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegistrationResult">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="accepted" />
                <xs:enumeration value="rejected" />
                <xs:enumeration value="pending" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Expires" type="xs:integer" />
    <xs:element name="Watcher">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="peer:id" minOccurs="0" />
                <xs:element name="contactInstanceId" type="peer:contactInstanceId" minOccurs="0" />
                <xs:element name="presence_info" />
            </xs:sequence>
        </xs:complexType>   
    </xs:element>
    <xs:element name="WatcherList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="presence:Watcher" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="presence">
        <xs:complexContent>
            <xs:extension base="pid:presence">
                <xs:sequence>
                    <xs:element name="remotecontact" type="peer:peerType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="presence_info">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>