src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/ConfRotameterObservations-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Carmela Stuart (Cable Television Laboratories Inc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.upnp.org/schemas/ConfRotameterObservations.xsd" targetNamespace="http://www.upnp.org/schemas/ConfRotameterObservations.xsd" elementFormDefault="qualified" id="ConfRotameterObservations.xsd">
	<xs:annotation>
		<xs:documentation xml:lang="en">
			   ConfRotameterObservations
			   This is for Version 2.0 of the UPnP QoS specification
			   Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
			   Schema Location: "http://www.upnp.org/schemas/qos/ConfRotameterObservations-v2.xsd"
		 </xs:documentation>
	</xs:annotation>
	<xs:complexType name="v4ExtensionType">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:element name="ConfRotameterObservations" type="ConfRotameterObservationsType"/>
	<xs:complexType name="ConfRotameterObservationsType">
		<xs:sequence>
			<xs:element name="ROPeriod" type="xs:integer"/>
			<xs:element name="MonitorResolutionPeriod" type="xs:integer"/>
			<xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
			<!-- allow any element except those from target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v2ExtensionType">
		<xs:sequence>
			<!-- allow any element except those from (v2) target namespace -->
			<xs:element name="v3" type="v3ConfigRotameterExtentionType" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:simpleType name="MacAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="v3ConfigRotameterExtentionType">
		<xs:sequence>
			<xs:element name="PerStreamConfiguration" type="PerStreamConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="v4" type="v4ExtensionType" minOccurs="0"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="PerStreamConfigurationType">
		<xs:sequence>
			<xs:element name="ROAddr" type="MacAddressType" minOccurs="0"/>
			<xs:element name="TrafficHandle" type="xs:string" minOccurs="0"/>
			<xs:element name="QosSegmentId" type="xs:string" minOccurs="0"/>
			<xs:element name="Layer2StreamId" type="Layer2StreamId64Type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
 				<xs:any namespace="##other" processContents="lax"/>
 				<xs:any namespace="##local" processContents="lax"/>
 			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Layer2StreamId64Type">
		<xs:restriction base="xs:string">
			<xs:length value="64" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
