src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/Layer2MappingContainer-v3-20080624.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.upnp.org/schemas/qos/Layer2MappingContainer-v3.xsd -->
<xs:schema xmlns="urn:schemas-upnp-org:qos:Layer2MappingContainer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lm="urn:schemas-upnp-org:qos:Layer2Mapping" targetNamespace="urn:schemas-upnp-org:qos:Layer2MappingContainer" elementFormDefault="qualified" attributeFormDefault="unqualified" id="Layer2MappingContainer">
	<xs:import namespace="urn:schemas-upnp-org:qos:Layer2Mapping" schemaLocation="Layer2Mapping-v3.xsd"/>
	<xs:element name="Layer2MappingContainer" type="Layer2MappingContainerType"/>
	<xs:complexType name="Layer2MappingContainerType">
		<xs:sequence>
			<xs:element name="Layer2Mapping" type="lm:Layer2MappingType" minOccurs="0"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
