src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/ListPolicyHandle-v3-20080624.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:ListPolicyHandle" targetNamespace="urn:schemas-upnp-org:qos:ListPolicyHandle" elementFormDefault="qualified" id="ListPolicyHandle-v3.xsd">
  
  <xs:annotation>
    <xs:documentation xml:lang="en">
		 This file describes the schema for the ListPolicyHandle.
		 This is for version 3.0 of UPnP QoS specification
		 Copyright 2004-2007 Contributing Members of the UPnP Forum.  All rights reserved.
		 Schema Location: "http://www.upnp.org/schemas/qos/ListPolicyHandle-v3.xsd"
	   </xs:documentation>
  </xs:annotation>
  
  <xs:element name="ListPolicyHandle" type="ListPolicyHandleType"/>
  
  <xs:complexType name="ListPolicyHandleType">
    <xs:sequence>
    <xs:element name="NumberPolicyHandle" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
    <xs:element name="PolicyHandle" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>