src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/ListOfTrafficDescriptors-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://www.upnp.org/schemas/ListOfTrafficDescriptors.xsd" 
  targetNamespace="http://www.upnp.org/schemas/ListOfTrafficDescriptors.xsd" 
  xmlns:td2="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" 
  elementFormDefault="qualified" id="ListOfTrafficDescriptors.xsd">
  
  <xs:import namespace="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" 
  schemaLocation="http://www.upnp.org/schemas/qos/TrafficDescriptor-v3.xsd"/>
  <xs:annotation>
    <xs:documentation xml:lang="en">
      ListofTrafficDescriptors
      This is for Version 3.0 of the UPnP QoS specification
      Copyright 2004-2007 Contributing Members of the UPnP Forum. All rights reserved.
	  Schema Location: "http://www.upnp.org/schemas/qos/ListOfTrafficDescriptors-v3.xsd"
    </xs:documentation>
  </xs:annotation>
  <xs:element name="ListOfTrafficDescriptors" type="ListOfTrafficDescriptorsType"/>
  <xs:complexType name="ListOfTrafficDescriptorsType">
    <xs:sequence>
      <xs:element name="TrafficDescriptor" type="td2:TrafficDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
