src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/ListOfMostRecentUnexpectedStreamChanges-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:ListOfMostRecentUnexpectedStreamChanges" xmlns:td="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" targetNamespace="urn:schemas-upnp-org:qos:ListOfMostRecentUnexpectedStreamChanges" elementFormDefault="qualified" id="ListOfMostRecentUnexpectedStreamChanges">
	<!-- 06/04/07 Swade Changed namespace to omit "-v3" -->
	<xs:import namespace="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" schemaLocation="TrafficDescriptor-v3.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">
		  This file describes the schema for the ListOfMostRecentUnexpectedStreamChanges
		  This is for Version 3.0 of the UPnP QoS specification
	          Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.

		  Schema Location: "http://www.upnp.org/schemas/qos/ListOfMostRecentUnexpectedStreamChanges-v3.xsd"
		</xs:documentation>
	</xs:annotation>
	<xs:element name="ListOfMostRecentUnexpectedStreamChanges" type="ListOfMostRecentUnexpectedStreamChangesType"/>
	<xs:complexType name="ListOfMostRecentUnexpectedStreamChangesType">
		<xs:sequence>
			<xs:element name="NumberOfRecentUnexpectedStreamChanges" type="xs:integer"/>
			<xs:element name="UnexpectedStreamChange" type="UnexpectedStreamChangeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnexpectedStreamChangeType">
		<xs:sequence>
			<xs:element name="AffectedStreamTrafficDescriptor" type="td:TrafficDescriptorType"/>
			<xs:element name="AffectingStreamTrafficDescriptor" type="td:TrafficDescriptorType" minOccurs="0"/>
			<xs:element name="StreamReleased" type="xs:boolean"/>
			<xs:element name="UnexpectedStreamChangeIndex" type="xs:integer"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
