src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/MostRecentStreamAction-v2-20061016.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="http://www.upnp.org/schemas/MostRecentStreamAction.xsd" 
 targetNamespace="http://www.upnp.org/schemas/MostRecentStreamAction.xsd" 
 elementFormDefault="qualified" 
 attributeFormDefault="unqualified" id="MostRecentStreamAction.xsd">
 <xs:annotation>
   <xs:documentation xml:lang="en">
     MostRecentStreamAction
     This is for Version 2.0 of the UPnP QoS specification
     Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	 Schema Location: "http://www.upnp.org/schemas/qos/MostRecentStreamAction-v2.xsd"
   </xs:documentation>
 </xs:annotation>
 <xs:element name="MostRecentStreamAction" type="MostRecentStreamActionType"/>
 <xs:complexType name="MostRecentStreamActionType">
   <xs:sequence>
     <xs:element name="SetupTrafficQos" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
     <xs:element name="ReleaseTrafficQos" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
     <xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from v1 target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
 </xs:complexType>
 <xs:complexType name="v2ExtensionType">
   <xs:sequence>
     <xs:element name="v3" type="v3ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from (v2) target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
 <xs:complexType name="v3ExtensionType">
   <xs:sequence>
     <xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
</xs:schema>

