src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/PathInformation-v2-20061016.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns="http://www.upnp.org/schemas/PathInformation.xsd" 
 targetNamespace="http://www.upnp.org/schemas/PathInformation.xsd" 
 elementFormDefault="qualified" id="PathInformation.xsd">
 <xs:annotation>
   <xs:documentation xml:lang="en">
     PathInformation
     This is for Version 2.0 of the UPnP QoS specification
     Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	 Schema Location: "http://www.upnp.org/schemas/qos/PathInformation-v2.xsd"
   </xs:documentation>
 </xs:annotation>
 <xs:element name="DeviceReachableMacs" type="DeviceReachableMacsType"/>
 <xs:complexType name="DeviceReachableMacsType">
   <xs:sequence>
     <xs:element name="LinkReachableMacs" maxOccurs="unbounded">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="LinkId" type="xs:string"/>
           <xs:element name="BridgeId" type="xs:string" minOccurs="0"/>
           <xs:element name="MacAddress" type="MacAddressType" minOccurs="0"/>
           <xs:element name="ReachableMac" type="MacAddressType" minOccurs="0" maxOccurs="unbounded"/>
           <!-- allow any element except those from target namespace -->
           <xs:choice minOccurs="0" maxOccurs="unbounded">
             <xs:any namespace="##other" processContents="lax"/>
             <xs:any namespace="##local" processContents="lax"/>
           </xs:choice>
         </xs:sequence>
       </xs:complexType>
     </xs:element>
     <xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="MacAddressType">
   <xs:restriction base="xs:string">
     <xs:pattern value="[0-9a-fA-F]{12}"/>
   </xs:restriction>
 </xs:simpleType>
 <xs:complexType name="v2ExtensionType">
   <xs:sequence>
     <xs:element name="v3" type="v3ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from (v2) target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
 <xs:complexType name="v3ExtensionType">
   <xs:sequence>
     <xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
</xs:schema>

