src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/PreferredQph-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:PreferredQph" targetNamespace="urn:schemas-upnp-org:qos:PreferredQph" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		  This file describes the schema for the PreferredQph
		  This is for Version 3.0 of the UPnP QoS specification
	          Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.

		  Schema Location: "http://www.upnp.org/schemas/qos/PreferredQph-v3.xsd"
		</xs:documentation>
	</xs:annotation>
	<!-- Root element PreferredQph -->
	<xs:element name="PreferredQph" type="PreferredQphType"/>
	<xs:complexType name="PreferredQphType">
		<xs:sequence>
			<xs:element name="PreferredQphId" type="xs:string"/>
			<xs:element name="QphPreferenceCount" type="xs:integer"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>

			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- End of PreferredQphType definition -->
	
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
