src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/QosDeviceExtendedState-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:schemas-upnp-org:qos:QosDeviceExtendedState" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pt="urn:schemas-upnp-org:qos:ProtoTspec" targetNamespace="urn:schemas-upnp-org:qos:QosDeviceExtendedState" elementFormDefault="qualified" id="QosDeviceExtendedState">
	<xs:import namespace="urn:schemas-upnp-org:qos:ProtoTspec" schemaLocation="ProtoTspec-v3.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">
			QosDeviceExtendedState schema version 3.0. Copyright	2004,2005 UPnP(tm).	All	rights reserved.		
			
			Schema Location: "http://www.upnp.org/schemas/qos/QosDeviceExtendedState-v3.xsd"			
        </xs:documentation>
	</xs:annotation>
	<xs:element name="QosDeviceExtendedState" type="QosDeviceExtendedStateType"/>
	<xs:complexType name="QosDeviceExtendedStateType">
		<xs:sequence>
			<xs:element name="DeviceResource" type="DeviceResourceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Interface" type="InterfaceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterfaceType">
		<xs:sequence>
			<xs:element name="InterfaceId" type="xs:string"/>
			<xs:element name="IanaTechnologyType" type="xs:integer" minOccurs="0"/>
			<xs:element name="InterfaceAvailability" type="xs:boolean"/>
			<xs:element name="IpAddress" type="IpAddressType" minOccurs="0" maxOccurs="4"/>
			<xs:element name="MacAddress" type="MacAddressType" minOccurs="0"/>
			<xs:element name="Link" type="LinkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdmitCntrlNet" type="xs:boolean" minOccurs="0"/>
			<xs:element name="PacketTaggingSupported" type="xs:boolean"/>
			<xs:element name="NativeQos" type="NativeQosType" minOccurs="0"/>
			<xs:element name="MaxPhyRate" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="ChannelInformation" type="xs:string" minOccurs="0"/>
			<xs:element name="QosSegmentId" type="xs:string"/>
			<xs:element name="QosSegmentName" type="xs:string"/>
			<xs:element name="ListOfProtoTspecs" type="ListOfProtoTspecsType" minOccurs="0"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<!-- allow any element except those from target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IPv4Address">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IPv6Address">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrefixLength">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IpAddressType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ipv4" type="IPv4Address"/>
				<xs:element name="Ipv6" type="IPv6Address"/>
			</xs:choice>
			<xs:element name="PrefixLength" type="PrefixLength" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MacAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LinkType">
		<xs:sequence>
			<xs:element name="LinkId" type="xs:string"/>
			<xs:element name="PeerLinkMacAdd" type="MacAddressType" minOccurs="0"/>
			<xs:element name="MaxPhyRate" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="ChannelInformation" type="xs:string" minOccurs="0"/>
			<xs:element name="ListOfProtoTspecs" type="ListOfProtoTspecsType" minOccurs="0"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceResourceType">
		<xs:sequence>
			<xs:element name="DeviceResourceId" type="xs:string"/>
			<xs:element name="AdmitCntrlDev" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NativeQosType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Prioritized"/>
			<xs:enumeration value="Scheduled"/>
			<xs:enumeration value="BothPrioritizedAndScheduled"/>
			<xs:enumeration value="BestEffort"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ListOfProtoTspecsType">
		<xs:sequence>
			<xs:element name="NumberOfProtoTspecs" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="ProtoTspec" type="pt:ProtoTspecType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
