src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/QosDeviceInfo-v2-20061016.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="http://www.upnp.org/schemas/QosDeviceInfo.xsd"  
 targetNamespace="http://www.upnp.org/schemas/QosDeviceInfo.xsd" 
 elementFormDefault="qualified" id="QosDeviceInfo.xsd">
 
 <xs:annotation>
   <xs:documentation xml:lang="en">
     QosDeviceInformation
     This is for Version 2.0 of the UPnP QoS specification
     Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	 Schema Location: "http://www.upnp.org/schemas/qos/QosDeviceInfo-v2.xsd"
   </xs:documentation>
 </xs:annotation>
 <xs:element name="QosDeviceInfo" type="QosDeviceInfoType"/>
 <xs:complexType name="QosDeviceInfoType">
   <xs:sequence>
     <xs:element name="TrafficHandle" type="xs:string"/>
     <xs:element name="SourcePort" type="IpPortNumber" minOccurs="0"/>
     <xs:element name="DestinationPort" type="IpPortNumber" minOccurs="0"/>
     <xs:element name="IpProtocol" type="IpProtocolType"/>
     <xs:element name="v2" type="v2ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="IpPortNumber">
   <xs:restriction base="xs:nonNegativeInteger">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="65535"/>
   </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="IpProtocolType">
   <xs:restriction base="xs:nonNegativeInteger">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="255"/>
   </xs:restriction>
 </xs:simpleType>
 <xs:complexType name="v2ExtensionType">
   <xs:sequence>
     <xs:element name="v3" type="v3ExtensionType" minOccurs="0"/>
     <!-- allow any element except those from (v2) target namespace -->
     <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <xs:any namespace="##local" processContents="lax"/>
     </xs:choice>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
 <xs:complexType name="v3ExtensionType">
   <xs:sequence>
     <xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:anyAttribute/>
 </xs:complexType>
</xs:schema>
