src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/Resource-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Swade (x) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-upnp-org:qos:Resource" targetNamespace="urn:schemas-upnp-org:qos:Resource" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
		  This file describes the schema for the Resource
		  This is for Version 3.0 of the UPnP QoS specification
	          Copyright 2007-2008 Contributing Members of the UPnP Forum. All rights reserved.

		  Schema Location: "http://www.upnp.org/schemas/qos/Resource-v3.xsd"
		</xs:documentation>
	</xs:annotation>
	<!-- Root element Resource -->
	<xs:element name="Resource" type="ResourceType"/>
	<!-- Definition of root element ResourceType -->
	<xs:complexType name="ResourceType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeviceResource" type="DeviceResourceType"/>
				<xs:element name="NetworkResource" type="NetworkResourceType"/>
				<!-- Removed this element since we are not doing batching
					<xs:element name="AllResources" type="xs:boolean"/>
				-->
			</xs:choice>
			<xs:element name="v4" minOccurs="0" type="v4type"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- End of definition of ResouceType -->
	<xs:complexType name="NetworkResourceType">
		<xs:sequence>
			<xs:element name="InterfaceId" type="xs:string"/>
			<xs:element name="QosSegmentId" type="xs:string"/>
			<xs:element name="LinkId" type="xs:string" minOccurs="0"/>
			<xs:element name="QDDownstream" type="xs:boolean"/>
			<xs:element name="QDUpstream" type="xs:boolean"/>
			<xs:element name="v4" minOccurs="0" type="v4type"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceResourceType">
		<xs:sequence>
			<xs:element name="DeviceResourceId" type="xs:string"/>
			<xs:element name="v4" minOccurs="0" type="v4type"/>
			<!-- allow any element except those from v1 target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
