src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/RotameterInformation-v3-20080624.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Swade (Sharp Labs of America) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.upnp.org/schemas/RotameterInformation.xsd" targetNamespace="http://www.upnp.org/schemas/RotameterInformation.xsd" elementFormDefault="qualified" id="RotameterInformation.xsd">
	<xs:annotation>
		<xs:documentation xml:lang="en">
     RotameterInformation
     This is for Version 2.0 of the UPnP QoS specification
     Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	 Schema Location: "http://www.upnp.org/schemas/qos/RotameterInformation-v2.xsd"
   </xs:documentation>
	</xs:annotation>
	<xs:element name="RotameterInformation" type="RotameterInformationType"/>
	<xs:complexType name="RotameterInformationType">
		<xs:sequence>
			<xs:element name="LinkReachableMacs" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LinkId" type="xs:string"/>
						<xs:element name="BridgeId" type="xs:string" minOccurs="0"/>
						<!-- allow any element except those from target namespace -->
						<xs:element name="v3" type="v3LinkReachableMacsExtensionType" minOccurs="0"/>
						<xs:element name="RotameterObservation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RotameterIndex" type="xs:integer"/>
									<xs:element name="ROAddr" type="MacAddressType"/>
									<xs:element name="ROBits" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits0" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits1" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits2" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits3" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits4" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits5" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits6" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROBits7" type="xs:integer" minOccurs="0"/>
									<xs:element name="ROPeriod" type="xs:integer"/>
									<xs:element name="ReportingDateTime" type="xs:string"/>
									<xs:element name="MonitorResolutionPeriod" type="xs:integer"/>
									<!-- allow any element except those from target namespace -->
									<xs:element name="v3" type="v3RotameterObservationExtensionType" minOccurs="0"/>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:any namespace="##other" processContents="lax"/>
										<xs:any namespace="##local" processContents="lax"/>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:any namespace="##other" processContents="lax"/>
							<xs:any namespace="##local" processContents="lax"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="v4" type="v4ExtensionType" minOccurs="0"/>
			<!-- allow any element except those from target namespace -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MacAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="v3RotameterObservationExtensionType">
		<xs:sequence>
			<!-- allow any element except those from (v2) target namespace -->
			<xs:element name="ROBitsParameterized" type="xs:int"/>
			<xs:element name="ROPacketsParameterized" type="xs:int"/>
			<xs:element name="ROParameterizedPacketsDropped" type="xs:int"/>
			<xs:element name="ROPerStreamInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="TrafficHandle" type="xs:string" minOccurs="0"/>
						<xs:element name="Layer2StreamId" type="Layer2StreamId64Type" minOccurs="0"/>
						<xs:element name="StreamBitsTransmitted" type="xs:int" minOccurs="0"/>
						<xs:element name="StreamPacketsTransmitted" type="xs:int" minOccurs="0"/>
						<xs:element name="StreamBitsReceived" type="xs:int" minOccurs="0"/>
						<xs:element name="StreamPacketsReceived" type="xs:int" minOccurs="0"/>
						<xs:element name="StreamPacketsDropped" type="xs:int" minOccurs="0"/>
						<xs:element name="v4" type="v4ExtensionType" minOccurs="0"/>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:any namespace="##other" processContents="lax"/>
							<xs:any namespace="##local" processContents="lax"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="v4" type="v4ExtensionType" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="v4ExtensionType">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="v3LinkReachableMacsExtensionType">
		<xs:sequence>
			<xs:element name="QosSegmentId" type="xs:string" minOccurs="0"/>
			<xs:element name="MacAddress" type="MacAddressType" minOccurs="0"/>
			<xs:element name="v4" type="v4ExtensionType" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:simpleType name="Layer2StreamId64Type">
		<xs:restriction base="xs:string">
			<xs:length value="64" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
