src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/TrafficDescriptorsPerInterface-v2-20061016.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.upnp.org/schemas/TrafficDescriptorsPerInterface.xsd"
  targetNamespace="http://www.upnp.org/schemas/TrafficDescriptorsPerInterface.xsd" 
  xmlns:td2="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" 
  elementFormDefault="qualified" id="TrafficDescriptorsPerInterface.xsd">
    
  <xs:import namespace="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" 
  schemaLocation="http://www.upnp.org/schemas/qos/TrafficDescriptor-v2.xsd"/>
  <xs:annotation>
    <xs:documentation xml:lang="en">
	  This file describes the schema for the TrafficDescriptorPerInterface
      This is for Version 2.0 of the UPnP QoS specification
      Copyright 2004-2006 Contributing Members of the UPnP Forum. All rights reserved.
	  Schema Location: "http://www.upnp.org/schemas/qos/TrafficDescriptorsPerInterface-v2.xsd"
    </xs:documentation>
  </xs:annotation>
  <xs:element name="TrafficDescriptorsPerInterface" type="TrafficDescriptorsPerInterfaceType"/>
  <xs:complexType name="TrafficDescriptorsPerInterfaceType">
    <xs:sequence>
      <xs:element name="TdInterfacePair" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TrafficDescriptor" type="td2:TrafficDescriptorType"/>
            <xs:element name="InterfaceId" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
