src/main/resources/META-INF/catalog/www.upnp.org/schemas/qos/TrafficDescriptorContainer-v3-20080624.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.upnp.org/schemas/qos/TrafficDescriptorContainer-v3.xsd -->
<xs:schema xmlns="urn:schemas-upnp-org:qos:TrafficDescriptorContainer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:td="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" targetNamespace="urn:schemas-upnp-org:qos:TrafficDescriptorContainer" elementFormDefault="qualified" attributeFormDefault="unqualified" id="TrafficDescriptorContainer">
	<xs:import namespace="http://www.upnp.org/schemas/TrafficDescriptorv1.xsd" schemaLocation="http://www.upnp.org/schemas/qos/TrafficDescriptor-v3.xsd"/>
	<xs:element name="TrafficDescriptorContainer" type="TrafficDescriptorContainerType"/>
	<xs:complexType name="TrafficDescriptorContainerType">
		<xs:sequence>
			<xs:element name="TrafficDescriptor" type="td:TrafficDescriptorType" minOccurs="0"/>
			<xs:element name="v4" type="v4type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="lax"/>
				<xs:any namespace="##local" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="v4type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax"/>
			<xs:any namespace="##local" processContents="lax"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>

